.background {

  background-color: #fffddd;

}

.tabletext {
  background-color: #ffffff;
}

table,
th,
td {

  border-style: solid 2px;
  border-width: thin;
  border-collapse: collapse;

  padding: 3px;


}

.cookietable.table,
.cookieth.th,
.cookietd.td {
  padding: 10px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

li.check:before {
  content: '✓';
  margin-left: -1em;
  margin-right: 10px;
  margin-right: .200em;

}

.ul.checklist {
  padding-left: 20px;
  text-indent: 20px;
  list-style: none;
  list-style-position: outside;

}


.footer {
  background-color: #404040;
  color: #cccccc;
}

table,
td,
div,
h1,
p {
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -0.02em;
}

h2 {

  line-height: 32px;

  letter-spacing: -0.02em;
}

@media screen and (max-width: 530px) {
  .unsub {
    display: block;
    padding: 8px;
    margin-top: 14px;
    border-radius: 6px;
    background-color: #fffddd;
    text-decoration: none !important;
    font-weight: bold;
  }

  .col-lge {
    max-width: 100% !important;
  }
}

@media screen and (min-width: 531px) {
  .col-sml {
    max-width: 27% !important;
  }

  .col-lge {
    max-width: 73% !important;
  }
}