<template>
  <div class="md-layout">
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
    >
      <h3>
        <b> {{ $route.name }}</b>
      </h3>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <div @click="RequestToAddSitePage()" class="cursor-type">
        <dashboard-card
          chart-type="Line"
          chart-inside-header
          background-color="blue"
          no-footer
        >
          <template slot="content">
            <span class="material-icons md-48 text-warning">
              ads_click
            </span>

            <h4 class="title">
              {{ this.$S_i18n.t("APP_DASHBOARD_SUMMARY_ADD_SITE_TITTLE") }}
            </h4>
            <p class="category">
              {{ this.$S_i18n.t("APP_DASHBOARD_SUMMARY_ADD_SITE_BODY") }}
            </p>
          </template>
        </dashboard-card>
      </div>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <div @click="RequestToMySitePage()" class="cursor-type">
        <dashboard-card
          chart-type="Line"
          chart-inside-header
          background-color="blue"
          no-footer
        >
          <template slot="content">
            <span class="material-icons md-48 text-warning">
              web
            </span>
            <h4 class="title">
              {{ this.$S_i18n.t("APP_DASHBOARD_SUMMARY_MY_SITE_TITTLE") }}
            </h4>
            <p class="category">
              {{ this.$S_i18n.t("APP_DASHBOARD_SUMMARY_MY_SITE_BODY") }}
            </p>
          </template>
        </dashboard-card>
      </div>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <div @click="RequestToUserPage()" class="cursor-type">
        <dashboard-card
          chart-type="Line"
          chart-inside-header
          background-color="blue"
          no-footer
        >
          <template slot="content">
            <span class="material-icons md-48 text-warning">
              account_circle
            </span>
            <h4 class="title">
              Mi Perfil
            </h4>
            <p class="category">
              Actualiza tus datos
            </p>
          </template>
        </dashboard-card>
      </div>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <div @click="RequestToPlansPage()" class="cursor-type">
        <dashboard-card
          chart-type="Line"
          chart-inside-header
          background-color="blue"
          no-footer
        >
          <template slot="content">
            <span class="material-icons md-48 text-warning">
              workspace_premium
            </span>

            <h4 class="title">
              Actualizar Plan
            </h4>
            <p class="category">
              Desbloquea las funcionalidades premium
            </p>
          </template>
        </dashboard-card>
      </div>
    </div>
  </div>
</template>

<script>
import { DashboardCard } from "@/components";

export default {
  components: {
    DashboardCard
  },

  mounted() {},

  data() {
    return {
      landing_img: process.env.VUE_APP_BF_LANDING_IMG_INFO,
      product1: "./img/card-2.jpg",
      product2: "./img/card-3.jpg",
      product3: "./img/card-1.jpg"
    };
  },
  methods: {
    RequestToAddSitePage() {
      this.$router.push("/dashboard/add-site");
      // const reqdata = { title: "RequestAddOrEditSitePage", isEdit: false };
      // this.$APP_Services.HANDLE_PAGE_APP_SERVICE(reqdata);
    },
    RequestToMySitePage() {
      this.$router.push("/dashboard/my-sites");
      // const reqdata = { title: "RequestMySitePage" };
      // this.$APP_Services.HANDLE_PAGE_APP_SERVICE(reqdata);
    },
    RequestToUserPage() {
      this.$router.push("/pages/user");
      // const reqdata = { title: "RequestMySitePage" };
      // this.$APP_Services.HANDLE_PAGE_APP_SERVICE(reqdata);
    },
    RequestToPlansPage() {
      this.$router.push("/pages/plans");
      // const reqdata = { title: "RequestMySitePage" };
      // this.$APP_Services.HANDLE_PAGE_APP_SERVICE(reqdata);
    }
  }
};
</script>
<style lang="scss">
.cursor-type {
  cursor: pointer;
}
.title {
  font-weight: bold;
}
.material-icons.md-48 {
  font-size: 48px;
}
</style>
