<!--

=========================================================
* Vue Material Dashboard PRO - v1.4.0
=========================================================

* Product Page: https://www.creative-tim.com/product/vue-material-dashboard-pro
* Copyright 2019 Creative Tim (https://www.creative-tim.com)

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= webpackConfig.output.publicPath %>favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--
  <title>Cometwise</title>
  -->
  <meta name="title" content="Haz que tu Web o eCommerce sea 100% legal y de confianza. | Cometwise">
  <meta name="author" content="Cometwise">
  <meta name="description"
    content="Crea de forma sencilla y a tu medida los textos legales que necesitas para que cumplir con la normativa de protección de datos, sociedad de la información y comercio electrónico.">
  <meta name="keywords" content="gdpr, cookies, legal, textos, legales, web" />
  <link rel="canonical" href="https://cometwise.com">


  <meta property="og:type" content="website">
  <meta property="og:url" content="https://cometwise.com">
  <meta property="og:title" content="Haz que tu Web o eCommerce sea 100% legal y de confianza. | Cometwise">
  <meta property="og:description"
    content="Crea de forma sencilla y a tu medida los textos legales que necesitas para que cumplir con la normativa de protección de datos, sociedad de la información y comercio electrónico.">
  <meta property="og:image" content="https://cometwise.com/img/cometwise-logo.png">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://cometwise.com">
  <meta property="twitter:title" content="Haz que tu Web o eCommerce sea 100% legal y de confianza. | Cometwise">
  <meta property="twitter:description"
    content="Crea de forma sencilla y a tu medida los textos legales que necesitas para que cumplir con la normativa de protección de datos, sociedad de la información y comercio electrónico.">
  <meta property="twitter:image" content="https://cometwise.com/img/cometwise-logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,300italic,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">


  <script async src="https://www.googletagmanager.com/gtag/js?id=G-V5BGGM6ZSF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-V5BGGM6ZSF');
  </script>
</head>

<div id="app"></div>
<!-- built files will be auto injected -->
</body>
<script src="https://api.cometwise.com/cms/cometwise.js"></script>

</html>