<template>
  <md-card class="md-card-profile">
    <md-card-content>
      <p>Aquí puedes descargar el formulario de desestimiento legal</p>
      <md-button
        class="md-info md-sm md-round"
        href="../../static/FORMULARIO DESISTIMIENTO LEGAL_cometwise.com.pdf"
        target="_blank"
      >
        Formulario de desestimiento
      </md-button>
      <!--      
      <span class="material-icons md-48 text-warning" v-if="plan == 'free'">
        campaign
      </span>
      <span class="material-icons md-48 text-warning" v-if="plan == 'basic'">
        free_breakfast
      </span>
      
      <span
        class="material-icons md-48 text-warning"
        v-if="plan == 'profesional'"
      >
        workspace_premium
      </span>

      <h6 class="category text-gray">
        {{ this.$S_i18n.t("BF_PRICING_CARD_2_TITLE") }}
      </h6>
      <h4 class="card-title">
        {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY") }}
      </h4>
      <p class="card-description">
        {{ this.$S_i18n.t("BF_PRICING_CARD_2_PRICE") }}
      </p>
      <md-button class="md-round" :class="getColorButton(buttonColor)">
        Follow
      </md-button>
-->
    </md-card-content>
  </md-card>
</template>
<script>
export default {
  name: "user-card",
  props: {
    cardUserImage: {
      type: String,
      default: process.env.VUE_APP_BF_USER_AVATAR_DEFAULT
    },
    buttonColor: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      plan: "profesional"
    };
  },
  methods: {
    getColorButton: function(buttonColor) {
      return "md-" + buttonColor + "";
    }
  }
};
</script>
<style></style>
