<template>
  <div class="md-layout">
    <loading
      style="position:absolute; top: 50%;
  left: 50%;"
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
      :color="loaderColor"
      :loader="loaderType"
      :background-color="backgroundColor"
    ></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-content>
          <h4 class="title">
            <i class="fas fa-info-circle"></i>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_TITLE") }}
          </h4>
          <h5 class="title">
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_INTRO") }}
          </h5>

          <div class="md-layout">
            <!-- ------------------------------------------------------------------------------ -->
            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div v-if="this.isReady">
                  <div
                    v-for="item in contact_forms"
                    :key="item.id_contact_form"
                    class="md-layout-item md-small-size-100 md-size-100"
                  >
                    <!-- ------------------------------------------------------------------------------ -->
                    <div class="md-layout-item md-small-size-100 md-size-100">
                      <md-checkbox
                        v-model="item.value"
                        @change="update_info(item)"
                      >
                        <md-icon class="text-gray" v-if="item.value != true">{{
                          item.icon
                        }}</md-icon>
                        <md-icon
                          class="text-warning"
                          v-if="item.value == true"
                          >{{ item.icon }}</md-icon
                        >
                        <span v-if="item.value != true">
                          {{
                            $S_i18n.t(
                              "APP_ADD_SITE_FORM_" + item.name.toUpperCase()
                            )
                          }}
                        </span>
                        <b class="text-warning" v-if="item.value == true">
                          {{
                            $S_i18n.t(
                              "APP_ADD_SITE_FORM_" + item.name.toUpperCase()
                            )
                          }}
                        </b>
                      </md-checkbox>
                    </div>
                    <!-- ------------------------------------------------------------------------------ -->
                  </div>
                </div>
              </div>
            </div>
            <!-- ------------------------------------------------------------------------------ -->
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div class="md-layout-item md-size-100">
      <div class="action">
        <md-button
          class="md-round md-warning md-round float-left"
          @click="save_info()"
        >
          {{ this.$S_i18n.t("APP_FORM_SUBMIT") }}
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import $ from "jquery";
import Loading from "vue-loading-overlay";
export default {
  components: {
    Loading
  },
  name: "contact",
  props: ["category_status"],
  data() {
    return {
      form: [],
      contact_forms: [],
      domain_forms: [],
      isReady: false,
      isLoading: true,
      fullPage: true,
      loaderColor: "#e7ba3d",
      loaderType: "dots",
      backgroundColor: "#ffffff",
      focus: true
    };
  },
  methods: {
    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },
    save_info() {
      this.showSwal("auto-close");
    },
    async update_info(myData) {
      this.$APP_Services.data = {
        id_domain: localStorage.getItem("op_id_rup"),
        id_contact_form: myData.id_contact_form
      };
      if (myData.value == true) {
        await this.$APP_Services.contact_forms_insert();
      } else {
        await this.$APP_Services.contact_forms_delete();
      }
      return;
    },
    updateLocalStorage(info) {
      for (var key in info) {
        localStorage.setItem("op_" + key, info[key]);
      }
      return;
    },
    set_checkboxes(myValues) {
      myValues = this.map_01_to_trueFalse(myValues);
      for (var key in myValues) {
        this.form[key] = myValues[key];
      }
    },

    map_trueFalse_to_01(myObject) {
      var tmp = myObject;
      for (var key in tmp) {
        tmp[key] = tmp[key] == true ? 1 : 0;
      }
      return tmp;
    },
    map_01_to_trueFalse(myObject) {
      var tmp = myObject;
      for (var key in tmp) {
        tmp[key] = tmp[key] == 1 ? true : false;
      }
      return tmp;
    }
  },

  async mounted() {
    await this.$APP_Services
      .contact_forms_get_all_available()
      .then(response => {
        this.contact_forms = response.data.payload;
      });

    this.$APP_Services.data = {
      id_domain: localStorage.getItem("op_id_rup")
    };

    await this.$APP_Services.contact_forms_get_domain().then(response => {
      this.domain_forms = response.data.payload;
    });

    for (var i = 0; i < this.domain_forms.length; i++) {
      for (var j = 0; j < this.contact_forms.length; j++) {
        if (
          this.domain_forms[i].id_contact_form ==
          this.contact_forms[j].id_contact_form
        ) {
          this.contact_forms[j].value = true;
        }
      }
    }
    this.isLoading = false;
    this.isReady = true;
  }
};
</script>
<style scoped></style>
