<template>
  <div class="md-layout">
    <loading
      style="position:absolute; top: 50%;
  left: 50%;"
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
      :color="loaderColor"
      :loader="loaderType"
      :background-color="backgroundColor"
      :z-index="9999"
    ></loading>
    <div class="md-layout-item md-size-100">
      <md-card class="md-layout-item md-size-100">
        <md-card-content>
          <h4 class="title ">
            <i class="fas fa-cookie-bite"></i>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_TITLE") }}
          </h4>
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-50">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-100">
                  <md-field>
                    <label>
                      {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_NAME") }}
                    </label>

                    <md-input
                      v-model="form_cookies['cookie_name']"
                      maxlength="64"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-100">
                  <md-field>
                    <label>
                      {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIE_PURPOSE") }}
                    </label>
                    <md-input
                      v-model="form_cookies['cookie_purpose']"
                      maxlength="1024"
                    ></md-input>
                  </md-field>
                </div>
                <div
                  class="md-layout-item md-small-size-100 md-size-100"
                  style="z-index:99999 !important;"
                >
                  <md-field style="z-index:99999 !important;">
                    <label for="movie">
                      {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIE_NATURE") }}
                    </label>
                    <md-select
                      v-model="form_cookies['cookie_nature']"
                      name="cookie_nature"
                      id="cookie_nature"
                    >
                      <md-option value="necessary">
                        {{
                          this.$S_i18n.t(
                            "APP_ADD_SITE_FORM_COOKIES_NATURE_NECESSARY"
                          )
                        }}</md-option
                      >
                      <md-option value="analytics">{{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_COOKIES_NATURE_ANALYTICS"
                        )
                      }}</md-option>
                    </md-select>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-100">
                  <md-field>
                    <label>
                      {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_PROVIDER") }}
                    </label>
                    <md-input
                      v-model="form_cookies['cookie_provider']"
                      maxlength="64"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-100">
                  <md-field>
                    <label>
                      {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_EXPIRY") }}
                    </label>
                    <md-input
                      v-model="form_cookies['cookie_expiry']"
                      maxlength="32"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-100">
                  <md-field>
                    <label>
                      {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_TYPE") }}
                    </label>
                    <md-input
                      v-model="form_cookies['cookie_type']"
                      maxlength="64"
                    ></md-input>
                  </md-field>
                </div>

                <div class="md-layout-item md-size-100 text-left">
                  <div class="action">
                    <md-button
                      class="md-sm md-warning mt-4"
                      @click="add_cookie_info()"
                    >
                      <md-icon>
                        add
                      </md-icon>
                      {{
                        this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_BUTTON_ADD")
                      }}
                    </md-button>
                    <md-button
                      class="md-sm md-warning mt-4"
                      @click="reset_cookie_info()"
                    >
                      <md-icon>
                        restart_alt
                      </md-icon>
                      {{
                        this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_BUTTON_RESET")
                      }}
                    </md-button>
                  </div>
                </div>
              </div>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-50">
              <!-- BOTÓN GENERAR COOKIE 
              <div class="md-layout-item md-size-100 text-left">
                <div class="action">
                  <md-button
                    class="md-sm md-warning mt-4"
                    @click="add_cookie_info()"
                  >
                    <md-icon>
                      autorenew
                    </md-icon>
                    {{ this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_BUTTON_GENERATECOOKIE") }}
                  </md-button>
                </div>
              </div>
              -->
              <div
                class="outer"
                v-for="item in cookieInfo"
                :key="item.name"
                style="margin-top:0px;"
              >
                <h4 class="text-warning">
                  <i class="fas fa-cookie-bite"></i>
                  <b> {{ item.cookie_name }}</b>
                </h4>
                &#160;
                <p class="description" style="margin-left:5px;">
                  {{ item.cookie_purpose }}
                </p>
                <md-button
                  class="md-sm md-simple md-just-icon md-gray mt-6"
                  @click="delete_cookie(item)"
                >
                  x
                </md-button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div class="md-layout-item md-size-100">
      <div class="action">
        <md-button
          class="md-round md-warning md-round float-left"
          @click="save_info()"
        >
          {{ this.$S_i18n.t("APP_FORM_SUBMIT") }}
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import $ from "jquery";
import Loading from "vue-loading-overlay";

export default {
  components: {
    Loading
  },
  name: "cookies",

  data() {
    return {
      cookies: {},
      cookie_nature: "",
      form: {},
      form_cookies: {},
      cookieInfo: [],
      cookie_name: null,
      cookie_purpose: null,
      isReady: false,
      isLoading: true,
      fullPage: true,
      loaderColor: "#e7ba3d",
      loaderType: "dots",
      backgroundColor: "#ffffff"
    };
  },
  update() {
    this.SetOperationalInfo(this.$APP_Services.data);
  },
  async mounted() {
    this.$APP_Services.data = {
      id_domain: localStorage.getItem("op_id_rup")
    };
    await this.$APP_Services.cookies_get_all().then(response => {
      this.cookies = response.data.payload;
    });

    // Show cookies on left list
    for (var i = 0; i < this.cookies.length; i++) {
      this.cookieInfo.push({
        cookie_name: this.cookies[i]["cookie_name"],
        cookie_purpose: this.cookies[i]["cookie_purpose"],
        cookie_id: this.cookies[i]["id_cookie"]
      });
    }
    this.isLoading = false;
    this.isReady = true;
  },
  methods: {
    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },
    update_info() {
      this.$APP_Services.data = this.form;
      this.$APP_Services.domain_form();
      this.SetOperationalInfo(this.$APP_Services.data);
    },
    save_info() {
      this.$APP_Services.data = this.form;
      this.$APP_Services.domain_form();
      this.SetOperationalInfo(this.$APP_Services.data);
      this.showSwal("auto-close");
    },
    SetOperationalInfo(info) {
      for (var key in info) {
        localStorage.setItem("op_" + key, info[key]);
      }
      return;
    },
    async add_cookie_info() {
      if (
        !this.form_cookies["cookie_name"] ||
        !this.form_cookies["cookie_purpose"]
      ) {
        Swal.fire({
          title: this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_EMPTY_INFO"),
          buttonsStyling: false,
          confirmButtonClass: "md-button md-info"
        });
      } else {
        for (var i = 0; i < this.cookieInfo.length; i++) {
          if (
            this.cookieInfo[i].cookie_name == this.form_cookies["cookie_name"]
          ) {
            Swal.fire({
              title: "Esta Cookie ya existe",
              buttonsStyling: false,
              confirmButtonClass: "md-button md-warning"
            });
            return;
          }
        }

        this.cookieInfo.push({
          cookie_name: this.form_cookies["cookie_name"],
          cookie_purpose: this.form_cookies["cookie_purpose"]
        });

        this.$APP_Services.data = this.form_cookies;
        this.$APP_Services.data["id_domain"] = localStorage.getItem(
          "op_id_rup"
        );
        await this.$APP_Services.cookies_insert();
      }
    },
    delete_cookie(item) {
      this.$APP_Services.data = {
        id_cookie: item.cookie_id
      };
      this.$APP_Services.cookies_delete();

      for (var i = 0; i < this.cookieInfo.length; i++) {
        if (this.cookieInfo[i]["cookie_name"] == item.cookie_name) {
          this.cookieInfo.splice(i, 1);
          return;
        }
      }
    },
    reset_cookie_info() {
      this.form_cookies = {};
    }
  }
};
</script>
<style>
.outer {
  display: flex;
  align-items: baseline;
}

.full {
  flex: 1;
}
</style>
