<template>
  <div class="md-layout">
    <loading
      style="position:absolute; top: 50%;
  left: 50%;"
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
      :color="loaderColor"
      :loader="loaderType"
      :background-color="backgroundColor"
    ></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-content>
          <h4 class="title">
            <md-icon class="">redeem</md-icon>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_ITEM_PROTECTION_TITLE") }}
          </h4>
          <p>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_ITEM_PROTECTION_INTRO") }}
          </p>

          <div class="md-layout">
            <div
              class="md-layout-item md-small-size-100 md-size-100"
              v-if="this.isReady"
            >
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-33">
                  <md-checkbox
                    v-model="form['protection_cardboard']"
                    @change="update_info()"
                  >
                    <span v-if="!form['protection_cardboard']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_CARDBOARD"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['protection_cardboard']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_CARDBOARD"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-33">
                  <md-checkbox
                    v-model="form['protection_airbags']"
                    @change="update_info()"
                  >
                    <span v-if="!form['protection_airbags']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_AIRBAGS"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['protection_airbags']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_AIRBAGS"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-33">
                  <md-checkbox
                    v-model="form['protection_buble_paper']"
                    @change="update_info()"
                  >
                    <span v-if="!form['protection_buble_paper']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_BUBLE_PAPER"
                        )
                      }}
                    </span>
                    <b
                      class="text-warning"
                      v-if="form['protection_buble_paper']"
                    >
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_BUBLE_PAPER"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-33">
                  <md-checkbox
                    v-model="form['protection_internal']"
                    @change="update_info()"
                  >
                    <span v-if="!form['protection_internal']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_INTERNAL"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['protection_internal']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_INTERNAL"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-33">
                  <md-checkbox
                    v-model="form['protection_plastic_cover']"
                    @change="update_info()"
                  >
                    <span v-if="!form['protection_plastic_cover']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_PLASTIC_COVER"
                        )
                      }}
                    </span>
                    <b
                      class="text-warning"
                      v-if="form['protection_plastic_cover']"
                    >
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_PLASTIC_COVER"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-33">
                  <md-checkbox
                    v-model="form['protection_external_box']"
                    @change="update_info()"
                  >
                    <span v-if="!form['protection_external_box']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_EXTERNAL_BOX"
                        )
                      }}
                    </span>
                    <b
                      class="text-warning"
                      v-if="form['protection_external_box']"
                    >
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_ITEM_PROTECTION_EXTERNAL_BOX"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
              </div>
            </div>
          </div>

          <p></p>
          <h4 class="title">
            <i class="fas fa-shipping-fast"></i>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_DELIVERIES_TITLE") }}
          </h4>
          <p>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_DELIVERIES_INTRO") }}
          </p>

          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-checkbox
                    v-model="form['delivery_is_peninsula']"
                    @change="update_info()"
                  >
                    <span v-if="!form['delivery_is_peninsula']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_PENINSULA"
                        )
                      }}
                    </span>
                    <b
                      class="text-warning"
                      v-if="form['delivery_is_peninsula']"
                    >
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_PENINSULA"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_DELAY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_peninsula']"
                      v-model="form['delivery_delay_peninsula']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COST"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_peninsula']"
                      v-model="form['delivery_cost_peninsula']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COMPANY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_peninsula']"
                      v-model="form['delivery_transport_peninsula']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
              </div>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-checkbox
                    v-model="form['delivery_is_baleares']"
                    @change="update_info()"
                  >
                    <span v-if="!form['delivery_is_baleares']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_BALEARES"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['delivery_is_baleares']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_BALEARES"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_DELAY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_baleares']"
                      v-model="form['delivery_delay_baleares']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COST"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_baleares']"
                      v-model="form['delivery_cost_baleares']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COMPANY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_baleares']"
                      v-model="form['delivery_transport_baleares']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
              </div>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-checkbox
                    v-model="form['delivery_is_canary']"
                    @change="update_info()"
                  >
                    <span v-if="!form['delivery_is_canary']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_CANARIAS"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['delivery_is_canary']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_CANARIAS"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_DELAY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_canary']"
                      v-model="form['delivery_delay_canary']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COST"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_canary']"
                      v-model="form['delivery_cost_canary']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COMPANY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_canary']"
                      v-model="form['delivery_transport_canary']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
              </div>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-checkbox
                    v-model="form['delivery_is_ceuta']"
                    @change="update_info()"
                  >
                    <span v-if="!form['delivery_is_ceuta']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_CEUTA"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['delivery_is_ceuta']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_CEUTA"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_DELAY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_ceuta']"
                      v-model="form['delivery_delay_ceuta']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COST"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_ceuta']"
                      v-model="form['delivery_cost_ceuta']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COMPANY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_ceuta']"
                      v-model="form['delivery_transport_ceuta']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
              </div>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-checkbox
                    v-model="form['delivery_is_melilla']"
                    @change="update_info()"
                  >
                    <span v-if="!form['delivery_is_melilla']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_MELILLA"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['delivery_is_melilla']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_MELILLA"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_DELAY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_melilla']"
                      v-model="form['delivery_delay_melilla']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COST"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_melilla']"
                      v-model="form['delivery_cost_melilla']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COMPANY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_melilla']"
                      v-model="form['delivery_transport_melilla']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
              </div>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-checkbox
                    v-model="form['delivery_is_eu']"
                    @change="update_info()"
                  >
                    <span v-if="!form['delivery_is_eu']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_EU"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['delivery_is_eu']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_EU"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_DELAY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_eu']"
                      v-model="form['delivery_delay_eu']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COST"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_eu']"
                      v-model="form['delivery_cost_eu']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-field>
                    <label>
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COMPANY"
                        )
                      }}
                    </label>
                    <md-input
                      :disabled="!form['delivery_is_eu']"
                      v-model="form['delivery_transport_eu']"
                      @change="update_info()"
                    ></md-input>
                  </md-field>
                </div>
              </div>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-25">
                  <md-checkbox
                    v-model="form['delivery_is_others']"
                    @change="update_info()"
                  >
                    <span v-if="!form['delivery_is_others']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_OTHERS"
                        )
                      }}
                    </span>
                    <b class="text-warning" v-if="form['delivery_is_others']">
                      {{
                        this.$S_i18n.t(
                          "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DEST_OTHERS"
                        )
                      }}
                    </b>
                  </md-checkbox>
                </div>
              </div>
              <div class="md-layout-item md-small-size-100 md-size-100">
                <div class="md-layout">
                  <div class="md-layout-item md-small-size-100 md-size-25">
                    <md-field>
                      <label>
                        {{
                          this.$S_i18n.t(
                            "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_GENERIC_COUNTRY"
                          )
                        }}
                      </label>
                      <md-input
                        :disabled="!form['delivery_is_others']"
                        v-model="form['delivery_delay_others']"
                        @change="update_info()"
                      ></md-input>
                    </md-field>
                  </div>
                  <div class="md-layout-item md-small-size-100 md-size-25">
                    <md-field>
                      <label>
                        {{
                          this.$S_i18n.t(
                            "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_DELAY"
                          )
                        }}
                      </label>
                      <md-input
                        :disabled="!form['delivery_is_others']"
                        v-model="form['delivery_delay_others']"
                        @change="update_info()"
                      ></md-input>
                    </md-field>
                  </div>
                  <div class="md-layout-item md-small-size-100 md-size-25">
                    <md-field>
                      <label>
                        {{
                          this.$S_i18n.t(
                            "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COST"
                          )
                        }}
                      </label>
                      <md-input
                        :disabled="!form['delivery_is_others']"
                        v-model="form['delivery_cost_others']"
                        @change="update_info()"
                      ></md-input>
                    </md-field>
                  </div>
                  <div class="md-layout-item md-small-size-100 md-size-25">
                    <md-field>
                      <label>
                        {{
                          this.$S_i18n.t(
                            "APP_ADD_SITE_FORM_DELIVERIES_PREDEFINED_DELIVERY_COMPANY"
                          )
                        }}
                      </label>
                      <md-input
                        :disabled="!form['delivery_is_others']"
                        v-model="form['delivery_transport_others']"
                        @change="update_info()"
                      ></md-input>
                    </md-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <div class="md-layout-item md-size-100">
        <div class="action">
          <md-button
            class="md-round md-warning md-round float-left"
            @click="save_info()"
          >
            {{ this.$S_i18n.t("APP_FORM_SUBMIT") }}
          </md-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import $ from "jquery";
import Loading from "vue-loading-overlay";
export default {
  components: {
    Loading
  },
  name: "deliveries",
  data() {
    return {
      form: {},
      openingHours: [
        {
          id: 1,
          Mon: "9 a.m",
          Tue: "9 a.m",
          Wed: "9 a.m",
          Thu: "9 a.m",
          Fri: "9 a.m"
        },
        {
          id: 2,
          Mon: "6 p.m",
          Tue: "6 p.m",
          Wed: "6 p.m",
          Thu: "6 p.m",
          Fri: "6 p.m"
        }
      ],
      isClickAndCollect: false,
      deliverlocationcountry: null,
      deliverlocationcost: null,
      deliverlocationdelay: null,
      delivertransportcompanyname: null,
      delivertransportweb: null,
      delivertransportdelay: null,
      maxweight: null,
      locaions: [],
      transport: [],
      isReady: false,
      isLoading: true,
      fullPage: true,
      loaderColor: "#e7ba3d",
      loaderType: "dots",
      backgroundColor: "#ffffff"
    };
  },

  beforeMount() {
    this.sync_localStorage_to_form();

    this.isLoading = false;
    this.isReady = true;
  },
  methods: {
    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },

    sync_localStorage_to_form() {
      var keys = Object.keys(localStorage);
      var form_key = "";

      for (var i = 0; i < keys.length; i++) {
        // Si la variable empieza por "OP_" entonces....
        if (
          keys[i].includes("op_protecion_") ||
          keys[i].includes("op_delivery_") ||
          keys[i].includes("op_protection_")
        ) {
          form_key = keys[i].replace("op_", "");
          this.form[form_key] = localStorage.getItem(keys[i]);

          this.form[form_key] =
            this.form[form_key] == "false" ? false : this.form[form_key];
          this.form[form_key] =
            this.form[form_key] == "true" ? true : this.form[form_key];
        }
      }
    },

    update_info() {
      this.$APP_Services.data = this.form;

      this.$APP_Services.domain_form();
      for (var key in this.form) {
        localStorage.setItem("op_" + key, this.form[key]);
      }
      this.$forceUpdate();
      //this.sync_localStorage_to_form()
    },

    add_delivery_location_info() {
      if (
        !this.deliverlocationcountry ||
        !this.deliverlocationcost ||
        !this.deliverlocationdelay
      ) {
        Swal.fire({
          title: this.$S_i18n.t("APP_FORM_EMPTY"),
          buttonsStyling: false,
          confirmButtonClass: "md-button md-info"
        });
      } else {
        this.locaions.push({
          name: this.deliverlocationcountry,
          cost: this.deliverlocationcost,
          delay: this.deliverlocationdelay
        });
      }
    },
    reset_delivery_location_info() {
      this.locaions = [];
    },
    add_transport_company_info() {
      if (
        !this.delivertransportcompanyname ||
        !this.delivertransportweb ||
        !this.delivertransportdelay
      ) {
        Swal.fire({
          title: this.$S_i18n.t("APP_FORM_EMPTY"),
          buttonsStyling: false,
          confirmButtonClass: "md-button md-info"
        });
      } else {
        this.transport.push({
          name: this.delivertransportcompanyname,
          web: this.delivertransportweb,
          delay: this.delivertransportdelay
        });
      }
    },
    save_info() {
      this.showSwal("auto-close");
    },
    reset_transport_company_info() {
      this.transport = [];
    }
  }
};
</script>
