<template>
  <div class="md-layout">
    <loading
      style="position:absolute; top: 50%;
  left: 50%;"
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
      :color="loaderColor"
      :loader="loaderType"
      :background-color="backgroundColor"
    ></loading>

    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-content>
          <h4 class="title">
            <md-icon>policy</md-icon>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_TITLE") }}
          </h4>
          <div class="md-layout" v-if="this.isReady">
            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-checkbox
                class="md-warning"
                v-model="is_legal_entity"
                v-if="!is_legal_entity"
                @change="update_info()"
              >
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY") }}
              </md-checkbox>
              <md-checkbox
                class="md-warning"
                v-model="is_legal_entity"
                v-if="is_legal_entity"
                @change="update_info()"
                ><b class="text-warning">
                  {{
                    this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY")
                  }}</b
                >
              </md-checkbox>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-checkbox
                class="md-warning"
                v-model="is_regulated_activity"
                v-if="!is_regulated_activity"
                @change="update_info()"
              >
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_REGULATED") }}
              </md-checkbox>
              <md-checkbox
                class="md-warning"
                v-model="is_regulated_activity"
                v-if="is_regulated_activity"
                @change="update_info()"
                ><b class="text-warning">
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_REGULATED") }}</b
                >
              </md-checkbox>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_DOMAIN") }}
                </label>
                <md-input
                  v-model="form['domain']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-100">
              <p class="title" id="title">
                <md-icon class="material-icons">account_circle</md-icon>
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_SECTION_OWNER") }}
              </p>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_NAME") }}
                </label>
                <md-input
                  v-model="form['registered_name']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_ID") }}
                </label>
                <md-input
                  v-model="form['id_number']"
                  type="text"
                  v-on:blur="update_info()"
                >
                </md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100">
              <p class="title" id="title">
                <md-icon class="material-icons">place</md-icon>
                {{
                  this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_SECTION_ADDRESS")
                }}
              </p>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-40">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_ADDRESS") }}
                </label>
                <md-input
                  v-model="form['contact_address']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-20">
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_ADDRESS_POSTAL_CODE"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['contact_postal_code']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-40">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_ADDRESS_CITY") }}
                </label>
                <md-input
                  v-model="form['contact_city']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-40">
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_ADDRESS_COUNTY")
                  }}
                </label>
                <md-input
                  v-model="form['contact_county']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-60">
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_ADDRESS_COUNTRY")
                  }}
                </label>
                <md-input
                  v-model="form['contact_country']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-100">
              <p class="title" id="title">
                <md-icon class="material-icons">call</md-icon>
                {{
                  this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_SECTION_CONTACT")
                }}
              </p>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_PHONES") }}
                </label>
                <md-input
                  v-model="form['contact_phones']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_EMAILS") }}
                </label>
                <md-input
                  v-model="form['contact_mails']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>

            <div
              class="md-layout-item md-small-size-100 md-size-100"
              v-if="category_status == 'ecommerce'"
            >
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_EMAILS_BILLS") }}
                </label>
                <md-input
                  v-model="form['contact_mails_printed_bill']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div class="md-layout-item md-size-100">
              <p class="title" id="title">
                <md-icon class="material-icons">share</md-icon>
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_SECTION_SN") }}
              </p>
            </div>
            <!-- ------------------------------------------------------------------------------ -->
            <div
              v-for="item in social"
              :key="item.id_social"
              class="md-layout-item md-small-size-100 md-size-100"
            >
              <md-field>
                <label>
                  {{
                    $S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_" + item.name.toUpperCase()
                    )
                  }}
                </label>
                <md-input
                  v-model="item.value"
                  type="text"
                  v-on:blur="update_social(item)"
                ></md-input>
              </md-field>
            </div>
            <!-- ------------------------------------------------------------------------------ -->
            <div class="md-layout-item md-size-100">
              <p class="title" id="title">
                <md-icon class="material-icons">info</md-icon>
                {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_SECTION_MISC") }}
              </p>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-50">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_HOSTING") }}
                </label>
                <md-input
                  v-model="form['third_party_hosting']"
                  type="text"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>

            <div class="md-layout-item md-small-size-100 md-size-100">
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_ABOUT") }}
                </label>
                <md-textarea
                  v-model="form['web_info_description']"
                  type="text"
                  v-on:blur="update_info()"
                >
                </md-textarea>
              </md-field>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <!--S_START-->
    <div
      class="md-layout-item md-size-100"
      v-if="is_legal_entity"
      style="margin-top:-55px;"
    >
      <md-card>
        <md-card-content>
          <h4 class="title" id="title">
            <i class="fas fa-info-circle"></i>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_SUBTITLE_PERSON") }}
          </h4>
          <div class="md-layout">
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_legal_entity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY_CITY"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['registration_city']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_legal_entity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY_TOMO"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['registration_volume']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_legal_entity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY_BOOK"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['registration_book']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_legal_entity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY_PAGE"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['registration_page']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_legal_entity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY_SECTION"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['registration_section']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_legal_entity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY_PARAGRAPH"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['registration_paragraph']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_legal_entity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_LEGAL_ENTITY_INSCRIPTION"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['registration_inscription']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div
      class="md-layout-item md-size-100"
      v-if="is_regulated_activity"
      style="margin-top:-55px;"
    >
      <md-card>
        <md-card-content>
          <h4 class="title" id="title">
            <i class="fas fa-info-circle"></i>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_TITLE_ACTIVITY") }}
          </h4>
          <div class="md-layout">
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_regulated_activity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_REGULATED_ENTITY")
                  }}
                </label>
                <md-input
                  v-model="form['professional_registered_entity']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_regulated_activity"
            >
              <md-field>
                <label>
                  {{ this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_REGULATED_ID") }}
                </label>
                <md-input
                  v-model="form['professional_registered_id']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-33"
              v-if="is_regulated_activity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_REGULATED_TITLE")
                  }}
                </label>
                <md-input
                  v-model="form['professional_academic_title']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
            <div
              class="md-layout-item md-small-size-100 md-size-25"
              v-if="is_regulated_activity"
            >
              <md-field>
                <label>
                  {{
                    this.$S_i18n.t(
                      "APP_ADD_SITE_FORM_GENERAL_REGULATED_COUNTRY"
                    )
                  }}
                </label>
                <md-input
                  v-model="form['professional_academic_country']"
                  v-on:blur="update_info()"
                ></md-input>
              </md-field>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="md-layout-item md-size-100">
      <div class="action">
        <md-button
          class="md-round md-warning md-round float-left"
          @click="save_info()"
        >
          {{ this.$S_i18n.t("APP_FORM_SUBMIT") }}
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import $ from "jquery";
import Loading from "vue-loading-overlay";
export default {
  components: {
    Loading
  },

  /**
   Update-social:
      this.$APP_Services.data = {
            "id_domain": ,
            "id_social": ,
          }

*/

  name: "general",
  props: ["category_status"],
  data() {
    return {
      form: {},
      social: {},
      social_domain: {},
      is_legal_entity: false,
      is_regulated_activity: false,
      isSaved: false,
      show: true,
      isReady: false,
      isLoading: true,
      fullPage: true,
      loaderColor: "#e7ba3d",
      loaderType: "dots",
      backgroundColor: "#ffffff"
    };
  },
  async mounted() {
    await this.$APP_Services.social_get_all_available().then(response => {
      this.social = response.data.payload;
    });

    if (localStorage.getItem("op_id_rup") != null) {
      this.$APP_Services.data = {
        id_domain: localStorage.getItem("op_id_rup")
      };
      await this.$APP_Services.social_get_domain().then(response => {
        this.social_domain = response.data.payload;
      });

      for (var i = 0; i < this.social_domain.length; i++) {
        for (var j = 0; j < this.social.length; j++) {
          if (this.social_domain[i].id_social == this.social[j].id_social) {
            this.social[j].value = this.social_domain[i].value;
          }
        }
      }
    }

    this.form = this.set_fields();
    this.isLoading = false;
    this.isReady = true;
    return;
  },
  methods: {
    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },
    set_fields() {
      // COGE todo lo que haya en el localstorage
      var keys = Object.keys(localStorage);
      var i = keys.length;
      var form_key = "";
      var tmp = Object;
      while (i--) {
        // Si la variable empieza por "OP_" entonces....
        if (keys[i].includes("op_")) {
          // QUITALE el prefijo "op_"
          form_key = keys[i].replace("op_", "");
          // GUARDALO en la variable temporal, y coge el valor del localstorage
          tmp[form_key] = localStorage.getItem(keys[i]);
        }
      }

      // @IRMA. Esto habria que meterlo en el array "tmp" y las dos variables:
      // is_legal_entity & is_regulated_activity meterlas dentro de

      this.is_legal_entity =
        tmp["form['is_legal_entity']"] == "0" ? false : true;
      this.is_regulated_activity =
        tmp["is_regulated_activity"] == "0" ? false : true;

      return tmp;
    },

    async update_social(item) {
      this.$APP_Services.data = {
        id_social: item.id_social,
        id_domain: localStorage.getItem("op_id_rup"),
        value: item.value
      };

      if (item.value.length == 0) {
        await this.$APP_Services.social_delete();
      } else {
        await this.$APP_Services.social_insert();
      }
    },
    update_info() {
      this.form["is_legal_entity"] = this.is_legal_entity == false ? 0 : 1;
      this.form["is_regulated_activity"] =
        this.is_regulated_activity == false ? 0 : 1;

      this.$APP_Services.data = this.form;
      this.$APP_Services.domain_form();
      this.SetOperationalInfo(this.$APP_Services.data);
      this.show = false;
    },
    save_info() {
      this.$APP_Services.data = this.form;
      this.$APP_Services.domain_form();
      this.SetOperationalInfo(this.$APP_Services.data);
      this.showSwal("auto-close");
    },
    SetOperationalInfo(info) {
      for (var key in info) {
        localStorage.setItem("op_" + key, info[key]);
      }
      return;
    }
  },
  update() {
    this.SetOperationalInfo(this.$APP_Services.data);
  }
};
</script>
<style lang="scss">
.md-tabs-button {
  text-align: left;
}
#title {
  margin-top: 15px;
  margin-bottom: -5px;
}

.md-field label {
  margin-top: 5px;
  margin-bottom: 5px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
