<template>
  <div class="md-layout">
    <loading
      style="position:absolute; top: 50%;
  left: 50%;"
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
      :color="loaderColor"
      :loader="loaderType"
      :background-color="backgroundColor"
    ></loading>
    <div class="md-layout-item md-size-100">
      <md-card>
        <md-card-content>
          <h4 class="title">
            <md-icon> payments </md-icon>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_PAYMENTS_TITLE") }}
          </h4>
          <p>
            {{ this.$S_i18n.t("APP_ADD_SITE_FORM_PAYMENTS_INTRO") }}
          </p>
          <div class="md-layout">
            <div class="md-layout-item md-small-size-100 md-size-100">
              <div class="md-layout">
                <!-- ------------------------------------------------------------------------------ -->
                <div v-if="isReady">
                  <div v-for="item in payments_all" :key="item.id_payment">
                    <div class="md-layout-item md-small-size-100 md-size-100">
                      <md-checkbox
                        v-model="item.value"
                        @change="set_payment(item)"
                      >
                        <span v-if="item.value != true">
                          {{ item.lang_key }}
                        </span>
                        <b class="text-warning" v-if="item.value == true">
                          {{ item.lang_key }}
                        </b>
                      </md-checkbox>
                    </div>
                  </div>
                </div>
                <!-- ------------------------------------------------------------------------------ -->
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div class="md-layout-item md-size-100">
      <div class="action">
        <md-button
          class="md-round md-warning md-round float-left"
          @click="save_info()"
        >
          {{ this.$S_i18n.t("APP_FORM_SUBMIT") }}
        </md-button>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import Loading from "vue-loading-overlay";
export default {
  components: {
    Loading
  },
  name: "payments",
  data() {
    return {
      isReady: false,
      payments_all: {},
      payments_domain: {},
      isLoading: true,
      fullPage: true,
      loaderColor: "#e7ba3d",
      backgroundColor: "black",
      loaderType: "dots"
    };
  },
  async mounted() {
    this.$APP_Services.data = {
      id_domain: localStorage.getItem("op_id_rup")
    };

    await this.$APP_Services.payments_get_all().then(response => {
      this.payments_domain = response.data.payload;
    });

    await this.$APP_Services.payments_get_all_available().then(response => {
      this.payments_all = response.data.payload;
    });

    for (var j = 0; j < this.payments_all.length; j++) {
      this.payments_all[j].lang_key = this.$S_i18n.t(
        "APP_ADD_SITE_FORM_PAYMENTS_" + this.payments_all[j].lang_key
      );
    }

    this.sync_payments_all(this.payments_domain);

    this.isLoading = false;
    this.isReady = true;
  },

  methods: {
    sync_payments_all(data) {
      for (var i = 0; i < data.length; i++) {
        for (var j = 0; j < this.payments_all.length; j++) {
          if (data[i].id_payment == this.payments_all[j].id_payment) {
            this.payments_all[j].value =
              data[i].value == "1" ? true : data[i].value;
          }
        }
      }
    },
    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_SAVE_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },
    save_info() {
      this.showSwal("auto-close");
    },
    set_payment(my_payment) {
      this.$APP_Services.data = {
        id_domain: localStorage.getItem("op_id_rup"),
        id_payment: my_payment.id_payment
      };
      if (my_payment.value == true) {
        this.$APP_Services.payments_insert();
      } else {
        this.$APP_Services.payments_delete();
      }
      this.sync_payments_all([my_payment]);
      this.$forceUpdate();
    }
  }
};
</script>
<style>
.outer {
  display: flex;
  align-items: baseline;
}

.full {
  flex: 1;
}
</style>
