.md-card-pricing {
  &:after {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }

  text-align: center;

  .category {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: .5rem;
    //S_START
    font-size: xx-large;
  }

  &.md-card-plain .title {
    color: $white-color;
  }

  .title {
    margin-top: 20px;
    color: $black-color;
  }

  .md-card-content {
    padding: 15px !important;
    margin: 0 !important;
  }

  .md-card-icon {
    padding: 10px 0 0px;

    i {
      //font-size: 55px !important;
      font-size: 45px !important;
      //S_START
      // border: 1px solid #E5E5E5;
      // border-radius: 50%;
      //S_END
      width: 130px;
      //line-height: 130px;
      line-height: 80px;
      //height
      height: 100px;
      color: $white-color;
    }

    &.icon-primary i {
      color: $brand-primary;
    }

    &.icon-info i {
      color: $brand-info;
    }

    &.icon-success i {
      color: $brand-success;
    }

    &.icon-warning i {
      color: $brand-warning;
    }

    &.icon-danger i {
      color: $brand-danger;
    }

    &.icon-rose i {
      color: $brand-rose;
    }

    &.icon-white i {
      color: $white-color;
    }

    &.icon-black i {
      color: $mdb-card-body-text;
    }
  }

  h1 {
    small {
      font-size: 18px;
      display: inline-flex;
      height: 0;

      &:first-child {
        position: relative;
        top: -17px;
        font-size: 26px;
      }
    }
  }


  ul {
    list-style: none;
    padding: 0;
    max-width: 240px;
    margin: 10px auto;

    li {
      color: $gray-color;
      text-align: center;
      padding: 12px 0;
      border-bottom: 1px solid rgba($gray-color, .3);

      &:last-child {
        border: 0;
      }

      b {
        color: $black-color;
      }

      i {
        top: 6px;
        position: relative;
      }
    }
  }

  &.card-background,
  &[class*="bg-"] {
    ul {
      li {
        color: $white-color;
        border-color: rgba($white-color, .3);

        b {
          color: $white-color;
          font-weight: 700;
        }
      }
    }

    [class*="text-"],
    .card-category {
      color: $white-color !important;
    }
  }

  .md-card-actions {
    z-index: 2;
    display: flex;
    //justify-content: center; S_START
    justify-content: flex-end;
    // S_END
    border: 0;

    .md-button {
      margin: 5px 0;
    }
  }
}