<template>
  <div class="content">
    <div class="md-layout md-layout-item md-small-size-100 md-size-100">
      <h1>POLíTICA DE COOKIES</h1>
      <h3>&nbsp;</h3>
      <h3>¿Qué es una cookie?</h3>

      <p>
        Las cookies son&nbsp; ficheros que se descargan en el equipo o
        dispositivo (ordenador/smartphone/tablet) del usuario al acceder a
        determinadas páginas web y que se almacenan en la memoria del mismo. Las
        cookies permiten, entre otras cosas, almacenar y recuperar información
        sobre los hábitos de navegación del usuario o de su equipo, ver qué
        páginas se visitan, el tiempo de conexión, analizar el funcionamiento de
        una página, si existen problemas técnicos, etc.&nbsp;
      </p>
      <br />
      <h3>¿Qué tipos de cookies existen?</h3>

      <p>Existen varios tipos de cookies en función de distintos criterios:</p>

      <p>En función de la titularidad:</p>

      <ul>
        <li>Cookies propias. Son las que pertenecen a cometwise.com</li>
      </ul>

      <ul>
        <li>
          Cookies de terceros. Son aquellas cuya titularidad es de un tercero,
          distinto de cometwise.com, que será quien trate la información
          recabada.
        </li>
      </ul>

      <p>En función de su finalidad:</p>

      <ul>
        <li>
          Cookies técnicas y/o de personalización. Son aquéllas que sirven para
          mejorar el servicio, localizar incidencias, reconocer al usuario, etc.
        </li>
      </ul>

      <ul>
        <li>
          Cookies de análisis y/o de publicidad. Son aquéllas que sirven para
          analizar información sobre la navegación y ofrecer publicidad, sea
          genérica o personalizada.
        </li>
      </ul>
      <br />
      <h3>¿Para qué sirve una cookie?</h3>

      <p>
        Las cookies se utilizan para poder ofrecer al usuario servicios y/o
        publicidad personalizados, para analizar el funcionamiento del sistema,
        reconocerle cuando accede como usuario, localizar incidencias y
        problemas que puedan surgir y solventarlos en el menor plazo posible,
        así como analizar y medir el uso y actividad de la página web.
      </p>

      <p>
        cometwise.com mediante el uso de cookies no recoge dato personal alguno.
      </p>
      <br />
      <h3>
        ¿Se necesita el consentimiento del usuario para instalar las cookies?
      </h3>

      <p>
        No se precisa el consentimiento del usuario para la instalación de
        cookies técnicas o las que sean estrictamente necesarias para la
        prestación de un servicio de la sociedad de la información expresamente
        solicitado por el destinatario.
      </p>

      <p>
        Para el resto, sí se precisa del consentimiento del interesado que se
        puede solicitar por distintas vías. En el caso de cometwise.com se
        entenderá otorgado si el usuario sigue navegando en el sitio web, sin
        perjuicio de que en cualquier momento podrá revocarlo y desactivar las
        cookies.
      </p>

      <br />
      <h2>¿Qué cookies se utilizan en cometwise.com?</h2>

      <h3>Nuestras Cookies nos ayudan:</h3>

      <ul>
        <li>a que nuestro sitio web funcione como usted espera</li>
        <li>a recordar su configuración durante las visitas</li>
        <li>a mejorar la velocidad y seguridad del sitio</li>
        <li>a mejorar continuamente nuestro sitio web para usted</li>
      </ul>

      <h3>No utilizamos Cookies para:</h3>

      <ul>
        <li>
          recopilar información de identificación personal (sin su
          consentimiento expreso)
        </li>
        <li>
          recopilar información confidencial (sin su consentimiento expreso)
        </li>
        <li>ceder bases de datos a redes de publicidad</li>
        <li>transmitir datos de identificación personal a terceros</li>
        <li>pagar comisiones de ventas</li>
      </ul>

      <p>
        Esta página web utiliza las cookies para una serie de finalidades,
        incluidas:
      </p>

      <h3>Cookies propias</h3>

      <p>
        Cookies de sesión, de identificación, de configuración y de registro,
        estrictamente necesarias para la identificación del usuario y para la
        prestación de los servicios solicitados por el usuario. La información
        obtenida a través de las mismas es tratada únicamente por cometwise.com
      </p>

      <p>
        Estas cookies las utilizamos para garantizar que los usuarios que
        escriban comentarios en el blog sean humanos y no aplicaciones
        automatizadas. De esta forma se combate el spam.
      </p>

      <h3>Cookies de terceros</h3>

      <p>
        El sitio web cometwise.com puede utilizar servicios de terceros que, por
        cuenta de cometwise.com, recopilaran información con fines estadísticos,
        sobre el uso del sitio web por parte del usuario y para la prestación de
        otros servicios relacionados con la actividad del sitio web y otros
        servicios de Internet.
      </p>

      <p><u>Google Analytics</u></p>

      <p>
        En particular, este sitio web utiliza Google Analytics, un servicio
        analítico de web prestado por Google, Inc. con domicilio en los Estados
        Unidos con sede central en 1600 Amphitheatre Parkway, Mountain View,
        California 94043. Para la prestación de estos servicios, estos utilizan
        cookies que recopilan la información, incluida la dirección IP del
        usuario, que será transmitida, tratada y almacenada por Google en los
        términos fijados en la web Google.com, incluyendo la posible transmisión
        de dicha información a terceros por razones de exigencia legal o cuando
        dichos terceros procesen la información por cuenta de Google.
      </p>

      <h2>Cookies establecidas para este sitio</h2>

      <p>
        El detalle de las cookies utilizadas en esta página web es el siguiente:
      </p>

      <h3>Necesarias</h3>
      <p>
        Las cookies necesarias ayudan a hacer una página web utilizable
        activando funciones básicas como la navegación en la página y el acceso
        a áreas seguras de la página web. La página web no puede funcionar
        adecuadamente sin estas cookies.
      </p>
      <table width="100%">
        <thead>
          <tr style="border-top: thick green">
            <td width="60" style="border-top: thick green">
              <h3>Nombre</h3>
            </td>
            <td width="99">
              <h3>Dominio</h3>
            </td>
            <td width="392">
              <h3>Ruta</h3>
            </td>
            <td width="74">
              <h3>Descripción</h3>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr style="border-top: thick black">
            <td width="60">
              <p>CWCC</p>
            </td>
            <td width="99">
              <p>cometwise.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Aquí se guardan tus preferencias sobre cookies</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>__stripe_mid</p>
            </td>
            <td width="99">
              <p>cometwise.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>__stripe_sid</p>
            </td>
            <td width="99">
              <p>cometwise.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Aquí se guardan tus preferencias sobre cookies</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>session</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>cid</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>cookie-perms</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>private_machine_identifier</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>merchant</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>__stripe_mid</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>scfc</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>user</p>
            </td>
            <td width="99">
              <p>stripe.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Necesaria para el funcionamiento de Stripe</p>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Estadísticas</h3>

      <p>
        Las cookies estadísticas ayudan a los propietarios de páginas web a
        comprender cómo interactúan los visitantes con las páginas web reuniendo
        y proporcionando información de forma anónima.
      </p>
      <table width="100%">
        <thead>
          <tr style="border-top: thick green">
            <td width="60" style="border-top: thick green">
              <h3>Nombre</h3>
            </td>
            <td width="99">
              <h3>Dominio</h3>
            </td>
            <td width="392">
              <h3>Ruta</h3>
            </td>
            <td width="74">
              <h3>Descripción</h3>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr style="border-top: thick black">
            <td width="60">
              <p>_ga_V5BGGM6ZSF</p>
            </td>
            <td width="99">
              <p>cometwise.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Google Analytics</p>
            </td>
          </tr>
          <tr style="border-top: thick black">
            <td width="60">
              <p>_ga</p>
            </td>
            <td width="99">
              <p>cometwise.com</p>
            </td>
            <td width="74">
              <p>/</p>
            </td>
            <td width="392">
              <p>Google Analytics</p>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Marketing</h3>

      <p>
        Las cookies de marketing se utilizan para rastrear a los visitantes en
        las páginas web. La intención es mostrar anuncios relevantes y
        atractivos para el usuario individual, y por lo tanto, más valiosos para
        los editores y terceros anunciantes.
      </p>
      <p>
        Esta información se actualizará en la medida que cambien los servicios
        ofrecidos en este sitio web.
      </p>
      <p>
        Nota: Las cookies de tipo 'Propias' son utilizadas sólo por el
        propietario de esta web y las cookies 'De terceros' son utilizadas, por
        el prestador del servicio que está detallado en el cuadro anterior.
      </p>

      <h3>Aceptación de las cookies</h3>

      <p>
        El titular del sitio web cometwise.com asume que usted acepta el uso de
        cookies. El usuario acepta expresamente, por la utilización de este
        sitio web, el tratamiento de la información recabada en la forma y con
        los fines anteriormente mencionados. Y asimismo reconoce conocer la
        posibilidad de rechazar el tratamiento de tales datos o información
        rechazando el uso de cookies mediante la selección de la configuración
        apropiada a tal fin en su navegador. Si bien esta opción de bloqueo de
        cookies en su navegador puede no permitirle el uso pleno de todas las
        funcionalidades del sitio web.
      </p>
      <p>
        No obstante, mostramos información sobre nuestra Política de Cookies del
        sitio web con cada inicio de sesión con el objeto de que usted sea
        consciente. Ante esta información es posible llevar a cabo las
        siguientes acciones:
      </p>

      <ul>
        <li>
          Puede aceptar todas las cookies pulsando el botón
          &ldquo;Aceptar&rdquo;.
        </li>
        <li>
          Puede configurar las cookies o rechazar su uso pulsando el botón
          &ldquo;Configurar&rdquo;.
        </li>
        <li>
          Puede cerrar la página si no está de acuerdo con el uso de las cookies
          indicadas.
        </li>
      </ul>
      <br />
      <h3>
        Revocación del consentimiento para instalar Cookies y administración de
        las cookies
      </h3>

      <p>
        En todo momento podrá acceder a la configuración de su navegador
        aceptando o rechazando todas las cookies, o bien seleccionar aquéllas
        cuya instalación admite y cuáles no, siguiendo uno de los siguientes
        procedimientos, que depende del navegador que utilice
      </p>

      <p>
        Puede permitir, bloquear o eliminar las cookies instaladas en su equipo
        mediante la configuración de las opciones del navegador instalado en su
        ordenador.
      </p>
      <ul>
        <li>
          Puede obtener más información sobre el navegador Firefox desde
          <a
            href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias"
          >
            AQUÍ
          </a>
        </li>
        <li>
          Puede obtener más información sobre el navegador Google Chrome desde
          <a href="https://support.google.com/chrome/answer/95647?hl=es">
            AQUÍ
          </a>
        </li>
        <li>
          Puede obtener más información sobre el navegador Internet Explorer
          desde
          <a
            href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies"
          >
            AQUÍ
          </a>
        </li>
        <li>
          Puede obtener más información sobre el navegador Safari desde
          <a href="https://www.apple.com/legal/privacy/en-ww/cookies"> AQUÍ </a>
        </li>

        <li>
          Puede obtener más información sobre el navegador Opera desde
          <a
            href="https://help.opera.com/en/latest/security-and-privacy/#clearBrows"
          >
            AQUÍ
          </a>
        </li>
      </ul>

      <p>
        Estos navegadores están sometidos a actualizaciones o modificaciones,
        por lo que no podemos garantizar que se ajusten completamente a la
        versión de su navegador. Para evitar estos desajustes, puede acceder
        directamente desde las opciones de su navegador, generalmente en el menú
        de "Opciones" en la sección de "Privacidad".
      </p>

      <h3>Otros navegadores</h3>

      <p>Consulte la documentación del navegador que tenga instalado.</p>

      <p>Complemento de inhabilitación para navegadores de Google Analytics</p>

      <p>
        Si desea rechazar las cookies analíticas de Google Analytics en todos
        los navegadores, de forma que no se envíe información suya a Google
        Analytics, puede descargar un complemento que realiza esta función desde
        este enlace:
        <a href="https://tools.google.com/dlpage/gaoptout"
          >https://tools.google.com/dlpage/gaoptout</a
        >
      </p>

      <h3>Información básica sobre protección de datos</h3>

      <h4>Responsable del tratamiento</h4>

      <p>El responsable del tratamiento es:</p>
      <ul>
        <li>Identidad: Suments Data Ltd.</li>
        <li>CI: NI665828</li>
        <li>
          Inscrita en
          <a
            href="https://find-and-update.company-information.service.gov.uk/company/NI665828"
            >The Company House</a
          >
          con el número de registro NI665828
        </li>
        <li>Dirección: Ap C 2.5 181 Sandy Row Belfast Co. Antrim BT12 5EU</li>
        <li>
          Correo electrónico:
          <a href="mailto:hola@cometwise.com">hola@cometwise.com</a>
        </li>
      </ul>
      <p>
        A los efectos de lo dispuesto en el artículo 27 del RGPD (UE) 2016/679,
        puede ponerse en contacto con nuestro representante en la Unión Europea:
      </p>
      <ul>
        <li>Identidad: Francisco Javier González Moncayo García</li>
        <li>Dirección: Calle Caba 19, 1D - 02001 Albacete (Espa&ntilde;a)</li>
        <li>
          Correo electrónico:
          <a href="mailto:hola@cometwise.com">hola@cometwise.com</a>
        </li>
      </ul>
      <h4>Finalidad de tratamiento</h4>

      <p>
        Mantener una relación comercial con el usuario. Las operaciones
        previstas para realizar el tratamiento son:
      </p>

      <ul>
        <li>
          Contactar con los interesados y responder a sus consultas. Enviar
          comunicaciones comerciales sobre nuestros servicios que consideremos
          puedan ser de su interés mediante carta, teléfono, correo electrónico,
          SMS/MMS, Whatsapp o por otros medios de comunicación electrónica
          equivalentes, siempre y cuando el interesado haya consentido el
          tratamiento de sus datos personales para esta finalidad. Estas
          comunicaciones serán realizadas por el RESPONSABLE DEL TRATAMIENTO y
          relacionadas sobre sus servicios, o de sus colaboradores o proveedores
          con los que éste haya alcanzado algún acuerdo de promoción. En este
          caso, los terceros nunca tendrán acceso a los datos personales.
        </li>
      </ul>

      <ul>
        <li>Realizar estudios estadísticos.</li>
      </ul>

      <ul>
        <li>
          Tramitar encargos, solicitudes o cualquier tipo de petición que sea
          realizada por el usuario a través de cualquiera de las formas de
          contacto que se ponen a su disposición.
        </li>
      </ul>

      <h3>Base jurídica que legitima este tratamiento</h3>

      <ul>
        <li>
          <h5>
            Ejecución de un contrato en el que el interesado es parte o para la
            aplicación a petición de este de medidas precontractuales.
          </h5>
        </li>
      </ul>

      <h4>>> Interés legítimo del responsable del tratamiento.</h4>

      <p>
        El consentimiento del interesado, que podrá retirar en cualquier
        momento.
      </p>

      <h4>>> ¿Por cuánto tiempo conservaremos sus datos?</h4>
      <p>
        Algunas de las cookies utilizadas en este sitio web guardarán sus datos
        mientras usted continúe con la sesión abierta. Por otra parte los datos
        extraídos por cookies de terceros serán almacenados durante dos
        a&ntilde;os.
      </p>
      <h4>>> ¿A qué destinatarios se comunican sus datos?</h4>
      <p>No se comunicarán los datos a terceros, salvo obligación legal.</p>

      <h4>>> Transferencias a terceros países</h4>

      <p>
        No está prevista la realización de transferencias de datos a terceros
        países, sin un nivel de protección adecuada.
      </p>

      <h4>>> ¿Qué derechos le asisten y cómo puede ejercerlos?</h4>
      <p>
        El usuario puede ejercer en todo momento sus derechos de acceso,
        rectificación, supresión, limitación, portabilidad y oposición al
        tratamiento de sus datos personales, a no ser objeto de decisiones
        individuales automatizadas y a retirar el consentimiento para recibir
        comunicaciones comerciales sobre nuestros servicios en cualquier
        momento, mediante comunicación por correo postal dirigida a nuestro
        representante en la Unión Europea Calle Caba 19, 1D - 02001 Albacete
        (Espa&ntilde;a) o a través de la dirección de correo electrónico
        <a href="mailto:hola@cometwise.com">hola@cometwise.com</a>
      </p>

      <p>
        También tiene derecho a presentar una reclamación ante la autoridad de
        control competente (<a href="http://www.aepd.es/">www.aepd.es</a>), si
        considera que el tratamiento no se ajusta a la normativa vigente.
      </p>
    </div>
  </div>
</template>

<style scoped>
div {
  text-align: justify;
  text-justify: inter-word;
}
strong,
.strong {
  font-weight: 900;
  color: black;
}
a,
.a {
  text-decoration: underline;
  color: green;
}
h3,
.h3 {
  margin: 0px;
}
</style>
