<template>
  <div class="content">
    <div class="md-layout md-layout-item md-small-size-100 md-size-100">
      <h1>POLÍTICA DE PRIVACIDAD</h1>
      <p>
        La presente política de privacidad se aplica al tratamiento de los datos
        personales de los clientes y/o usuarios de
        <a href="https://www.cometwise.com/">https://www.cometwise.com</a>, en
        adelante, el SITIO WEB, del que es titular Suments Data Ltd., en
        adelante, el RESPONSABLE DEL TRATAMIENTO.
      </p>
      <h2>Normativa aplicable</h2>
      <p>
        En Suments Data Ltd. aplicamos la Ley de Protección de Datos vigente en
        el Reino Unido (UK Data Protection Act) y el Reglamento General de
        Protección de Datos (RGPD UE 2016/679) a todas nuestras operaciones
        globales, a no ser que la ley local equivalente sea más restrictiva.
      </p>
      <p>
        La política de privacidad del SITIO WEB se ha diseñado de acuerdo con el
        REGLAMENTO (UE) 2016/679 del PARLAMENTO EUROPEO y del CONSEJO, de 27 de
        abril de 2016, relativo a la protección de las personas físicas en lo
        que respecta al tratamiento de datos personales y a la libre circulación
        de estos datos y por el que se deroga la Directiva 95/46/CE (Reglamento
        General de Protección de Datos), en adelante RGPD (UE) 2016/679, y en lo
        que no contradiga al mencionado Reglamento, por lo dispuesto en la Ley
        Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y
        garantía de los derechos digitales, en adelante LOPDGDD 3/2018.
      </p>
      <p>
        Al facilitarnos sus datos, el cliente y/o usuario declara haber leído y
        conocer la presente Política de Privacidad, prestando su consentimiento
        inequívoco y expreso al tratamiento de sus datos personales de acuerdo a
        las finalidades y términos aquí expresados.
      </p>

      <h3>Información básica sobre protección de datos</h3>

      <table>
        <tbody>
          <tr>
            <td class="tabletext" colspan="2" width="581">
              <p>
                <strong>INFORMACIÓN BÁSICA SOBRE PROTECCIÓN DE DATOS</strong>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Responsable
            </td>
            <td>
              <p>Suments Data Ltd.</p>
            </td>
          </tr>
          <tr>
            <td>
              Finalidad
            </td>
            <td>
              <p>
                Contactar con el interesado, atender las peticiones de
                información recibidas, responder las consultas planteadas,
                gestionar las contrataciones electrónicas de los planes de
                suscripción ofertados, prestar los servicios solicitados, así
                como remitir comunicaciones comerciales sobre nuestros servicios
                mediante carta, teléfono, correo electrónico, SMS/MMS, WhatsApp,
                Telegram o por otros medios de comunicación electrónica
                equivalentes, siempre y cuando el interesado haya consentido el
                tratamiento de sus datos personales para esta finalidad.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Legitimación
            </td>
            <td>
              <p>
                Ejecución de un contrato en el que el interesado es parte o para
                la aplicación a petición de este de medidas precontractuales.
                Interés legítimo del responsable. Consentimiento del interesado.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Destinatarios
            </td>
            <td>
              <p>
                No se cederán datos a terceros, salvo obligación legal.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Derechos
            </td>
            <td>
              <p>
                Tiene derecho a acceder, rectificar y suprimir los datos, así
                como otros derechos, indicados en la información adicional, que
                puede ejercer dirigiéndose a la dirección del Responsable del
                tratamiento en
                <a href="mailto:hola@cometwise.com">hola@cometwise.com</a>
              </p>
            </td>
          </tr>
          <tr>
            <td>
              Información adicional
            </td>
            <td>
              <p>
                Puede consultar la información adicional y detallada sobre
                Protección de Datos en las cláusulas anexas que se encuentran en
                <a href="https://www.cometwise.com/politica-de-privacidad"
                  >https://www.cometwise.com/politica-de-privacidad</a
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Información adicional sobre protección de datos</h3>

      <p>El responsable del tratamiento es:</p>
      <ul>
        <li>Identidad: Suments Data Ltd.</li>
        <li>CI: NI665828</li>
        <li>
          Inscrita en
          <a
            href="https://find-and-update.company-information.service.gov.uk/company/NI665828"
            >The Company House</a
          >
          con el número de registro NI665828
        </li>
        <li>
          Dirección: Ap C 2.5 181 Sandy Row Belfast Co. Antrim BT12 5EU
        </li>
        <li>
          Correo electrónico:
          <a href="mailto:hola@cometwise.com">hola@cometwise.com</a>
        </li>
      </ul>
      <p>
        Al no tener el responsable del tratamiento sede en España, y a los
        efectos de lo dispuesto en el artículo 27 del RGPD (UE) 2016/679, hemos
        designado a un representante al que puede dirigirse para plantear
        cualquier problema o consulta relacionada con el tratamiento que hacemos
        de sus datos personales y/o nuestra política de privacidad y cookies.
      </p>
      <p>Nuestro representante en España es:</p>
      <ul>
        <li>Francisco Javier González Moncayo García</li>
        <li>
          Dirección: Calle Caba 19, 1D - 02001 Albacete (España)
        </li>
        <li>
          Correo electrónico:
          <a href="mailto:hola@cometwise.com">hola@cometwise.com</a>
        </li>
      </ul>

      <h3>Fines y base jurídica del tratamiento</h3>

      <ol>
        <li type="a">
          Con carácter general:

          <p>
            El RESPONSABLE DEL TRATAMIENTO trata los datos personales que
            facilitan sus clientes y/o usuarios para los siguientes fines:
          </p>
          <ul>
            <li>
              <strong><u>Finalidad</u></strong
              ><strong>: </strong>Contactar con el interesado, atender las
              peticiones de información recibidas, responder las consultas
              planteadas, gestionar las contrataciones electrónicas de los
              planes de suscripción ofertados, prestar los servicios solicitados
              así como remitir comunicaciones comerciales sobre nuestros
              servicios mediante carta, teléfono, correo electrónico, SMS/MMS,
              WhatsApp, Telegram o por otros medios de comunicación electrónica
              equivalentes, siempre y cuando el interesado haya consentido el
              tratamiento de sus datos personales para esta finalidad.
            </li>

            <li>
              <strong
                ><u>Base jurídica que legitima este tratamiento:</u></strong
              >
              Ejecución de un contrato en el que el interesado es parte o para
              la aplicación a petición de este de medidas precontractuales.
              Interés legítimo del responsable. El consentimiento del
              interesado, que podrá retirar en cualquier momento.
            </li>
          </ul>
        </li>

        <li type="a">
          Formularios electrónicos SITIO WEB:

          <p>
            El RESPONSABLE DEL TRATAMIENTO trata los datos personales
            facilitados por los clientes y/o usuarios a través de los
            formularios electrónicos de recogida de datos personales existentes
            en el SITIO WEB para los fines que se identifican a continuación:
          </p>

          <p>
            En relación con el <strong>"Formulario de Contacto" </strong
            ><strong>y con otras consultas</strong>
            <em
              >(las que puedan dirigirse a través de las cuentas de correo
              electrónico que consten en el SITIO WEB)</em
            >:
          </p>
        </li>
      </ol>
      <ul>
        <li>
          <strong><u>Finalidad</u></strong
          ><strong>:</strong> Contactar con el interesado, atender las
          peticiones de información recibidas, responder las consultas
          planteadas, así como enviar comunicaciones comerciales sobre nuestros
          servicios mediante carta, teléfono, correo electrónico, SMS/MMS,
          WhatsApp, Telegram o por otros medios de comunicación electrónica
          equivalentes, siempre y cuando el interesado haya consentido el
          tratamiento de sus datos personales para esta finalidad.
        </li>
      </ul>

      <ul>
        <li>
          <strong><u>Base jurídica que legitima este tratamiento:</u></strong>
          Interés legítimo del responsable. El consentimiento del interesado,
          que podrá retirar en cualquier momento.
        </li>
      </ul>

      <p>
        En relación con el
        <strong>"Formulario Suscripción Boletín de Noticias"</strong>:
      </p>

      <ul>
        <li>
          <strong><u>Finalidad</u></strong
          ><strong>:</strong> Permite al usuario realizar la suscripción al
          boletín de noticias informativo para recibir en su correo electrónico
          las últimas novedades, ofertas y promociones especiales de nuestros
          servicios.
        </li>
      </ul>

      <ul>
        <li>
          <strong><u>Base jurídica que legitima este tratamiento:</u></strong>
          El consentimiento del interesado, que podrá retirar en cualquier
          momento.
        </li>
      </ul>

      <p>
        En relación con el
        <strong>"Formulario Crear una cuenta - Registro"</strong>:
      </p>

      <ul>
        <li>
          <strong><u>Finalidad:</u></strong> Permite al usuario crear su perfil
          personal para registrarse en el sitio web, así como enviar
          comunicaciones comerciales sobre promociones de nuestros artículos y/o
          productos mediante carta, teléfono, correo electrónico, SMS/MMS,
          WhatsApp, Telegram o por otros medios de comunicación electrónica
          equivalentes, siempre y cuando el interesado haya consentido el
          tratamiento de sus datos personales para esta finalidad.
        </li>
      </ul>

      <ul>
        <li>
          <strong><u>Base jurídica que legitima este tratamiento:</u></strong>
          Ejecución de un contrato en el que el interesado es parte o para la
          aplicación a petición de este de medidas precontractuales. El
          consentimiento del interesado, que podrá revocar en cualquier momento.
        </li>
      </ul>

      <p>
        En relación con el
        <strong>"Formulario Iniciar sesión - Login"</strong>:
      </p>

      <ul>
        <li>
          <strong><u>Finalidad:</u></strong> Permite al usuario registrado
          acceder con su nombre de usuario o dirección de correo electrónico y
          contraseña al sitio web para contratar los planes de suscripción y
          utilizar todos los servicios que se ponen a su disposición.
        </li>
      </ul>

      <ul>
        <li>
          <strong><u>Base jurídica que legitima este tratamiento:</u></strong>
          Ejecución de un contrato en el que el interesado es parte o para la
          aplicación a petición de este de medidas precontractuales.
        </li>
      </ul>

      <p>
        Cuando los datos solicitados en los formularios electrónicos sean
        necesarios, el RESPONSABLE DEL TRATAMIENTO indicará dicho carácter
        obligatorio en el momento de la recogida de datos de los clientes y/o
        usuarios y no facilitarlos implicará que no pueda atenderse la solicitud
        correspondiente.
      </p>

      <h3>&iquest;Qué tipo de datos tratamos?</h3>

      <p>
        Para las finalidades expuestas en el apartado anterior se trata el
        conjunto de datos del cliente y/o usuario que podemos dividir en las
        siguientes fuentes y categorías:
      </p>

      <ol>
        <li type="a">
          <strong
            >Datos proporcionados de forma directa por el cliente y/o
            usuario:</strong
          >
          datos proporcionados de forma directa por cliente y/o usuario, ya sea
          en el momento de solicitud del servicio a través de la cumplimentación
          de formularios electrónicos de recogida de datos personales como los
          facilitados a lo largo de la relación contractual a través de
          distintos medios como, por ejemplo, reclamaciones o solicitudes de
          información interpuestas en el Servicio de Atención al Cliente. El
          cliente y/o usuario se responsabiliza de su veracidad y actualización.
        </li>

        <ul>
          <li type="none" class="check">
            <strong>Datos Identificativos</strong> (nombre y apellidos, razón
            social, NIF, NIE, dirección postal, correo electrónico, teléfono,
            móvil, firma manual, manuscrita o digitalizada, dirección URL sitio
            web, perfiles de redes sociales, direcciones IP, usuario y
            contraseña)
          </li>
        </ul>

        <ul>
          <li type="none" class="check">
            <strong>Datos Económicos</strong> (datos bancarios)
          </li>
        </ul>

        <li type="a">
          <strong
            >Datos obtenidos de otras fuentes distintas del propio cliente y/o
            usuario:</strong
          >
          datos obtenidos de fuentes distintas del cliente y/o usuario, ya sea
          por contar con su consentimiento o por cualquier otra habilitación
          legal (interés legítimo, cumplimiento de una obligación
          legal&hellip;).
        </li>

        <li type="a">
          <strong
            >Datos derivados del desarrollo de la relación comercial:</strong
          >
          datos proporcionados de forma indirecta por el cliente y/o usuario al
          derivar de la propia prestación del servicio contratado y del
          mantenimiento de esta actividad. Dentro de esta categoría se incluyen
          los datos de tráfico o el histórico servicios contratados, los datos
          de navegación a través de la página web pública o del acceso al área
          privada u otros de análoga naturaleza.
        </li>
      </ol>

      <h3>Registro de actividades de tratamiento</h3>
      <p>
        Le informamos que los datos personales que se obtengan del cliente y/o
        usuario como consecuencia de la cumplimentación de los formularios
        electrónicos existentes en el SITIO WEB forman parte del Registro de
        Actividades de Tratamiento (RAT) del RESPONSABLE DEL TRATAMIENTO, que se
        actualizará periódicamente de acuerdo con lo establecido en el RGPD UE
        2016/679 y en la LOPDGDD 3/2018.
      </p>

      <h2>Destinatarios</h2>

      <p>
        Los datos personales de los interesados se comunicarán a los
        destinatarios que se indican a continuación:
      </p>

      <ol>
        <li type="a">
          Con carácter general:
          <ul>
            <li>
              Los proveedores del RESPONSABLE DEL TRATAMIENTO como encargados
              del tratamiento, en el marco de la correspondiente prestación de
              los servicios (prestadores de servicios de tecnologías de la
              información &ndash;alojamiento del sitio web y servicio de correo
              electrónico-).
            </li>

            <li>
              Las autoridades y organismos competentes, en la medida necesaria
              para el cumplimiento de obligaciones legales.
            </li>
          </ul>
        </li>

        <li type="a">
          En relación con el <strong>"Formulario de Contacto" </strong
          ><strong>y con otras consultas</strong
          ><em
            >(las que puedan dirigirse a través de las cuentas de correo
            electrónico que consten en el SITIO WEB</em
          >), con el
          <strong>"Formulario Suscripción Boletín de Noticias"</strong>, con el
          <strong>"Formulario Crear una cuenta - Registro"</strong>
          y con el
          <strong>"Formulario Iniciar sesión - Login"</strong>:
        </li>
        <ul>
          <li>
            No se cederán datos a terceros, salvo obligación legal.
          </li>
        </ul>
      </ol>

      <h3>Transferencias a terceros países</h3>
      <p>
        No está prevista la realización de transferencias de datos a terceros
        países, sin un nivel de protección adecuada.
      </p>

      <h3>Plazos de conservación</h3>

      <p>
        Los datos se conservarán mientras no solicite su supresión, y en
        cualquier caso, durante los años necesarios para cumplir con las
        obligaciones legales.
      </p>
      <p>
        Con relación al <strong>"Formulario de Contacto" </strong
        ><strong>y con otras consultas</strong>
        <em
          >(las que puedan dirigirse a través de las cuentas de correo
          electrónico que consten en el SITIO WEB</em
        >), al <strong>"Formulario Suscripción Boletín de Noticias"</strong>, al
        <strong>"Formulario Crear una cuenta - Registro"</strong> y al
        <strong>"Formulario Iniciar sesión - Login"</strong>:
      </p>
      <p>
        Los datos personales se conservarán hasta la finalización de la relación
        entre el RESPONSABLE DEL TRATAMIENTO y el cliente y/o usuario, salvo que
        éste solicite con anterioridad la supresión de los mismos, o hasta que
        el interesado retire el consentimiento otorgado en cualquier momento,
        sin que ello afecte a la licitud del tratamiento basado en el
        consentimiento previo a su retirada.
      </p>
      <p>
        A estos efectos, se recuerda al interesado que deberá trasladar al
        RESPONSABLE DEL TRATAMIENTO como destinatario al que comunica datos
        personales, cualquier rectificación o supresión de los datos de sus
        representantes, autorizados y otras personas de contacto.
      </p>
      <p>
        Una vez concluida la relación, en la medida en que los datos personales
        de los interesados sean relevantes a efectos de la responsabilidad del
        RESPONSABLE DEL TRATAMIENTO frente a los clientes y/o usuarios, esos
        datos se conservarán, debidamente bloqueados, a disposición de las
        autoridades judiciales o las administraciones públicas competentes, para
        la exigencia de las responsabilidades derivadas del tratamiento por el
        plazo de prescripción de las mismas.
      </p>

      <h2>Derechos de los interesados</h2>
      <p>
        Los clientes y/o usuarios del SITIO WEB podrán ejercitar ante el
        RESPONSABLE DEL TRATAMIENTO, en la medida que sean aplicables, los
        siguientes derechos: acceso a los datos personales, rectificación,
        supresión (derecho al olvido), limitación del tratamiento, portabilidad
        de los datos, oposición al tratamiento y a no ser objeto de decisiones
        individuales automatizadas y, cuando el tratamiento se base en el
        consentimiento, el derecho a retirarlo en cualquier momento.
      </p>
      <p>
        Los clientes y/o usuarios podrán ejercer esos derechos mediante
        solicitud por escrito y firmada enviada a la dirección postal de nuestro
        representante en la Unión Europea sita en Calle Caba 19, 1D - 02001
        Albacete (España) o a través de la dirección de correo electrónico
        <a href="mailto:hola@cometwise.com">hola@cometwise.com</a
        ><a href="mailto:info@bisuroom.es">, a</a>djuntando, en ambos casos el
        interesado, una prueba de identidad valida en derecho, como fotocopia
        del NIF/NIE o documento equivalente, e indicando claramente el derecho
        que desea ejercitar.
      </p>
      <p>
        Los clientes y/o usuarios también tendrán derecho a presentar una
        reclamación ante la Autoridad de Control competente (Agencia Española de
        Protección de Datos) si observa que el tratamiento no se ajusta a la
        normativa vigente o considera vulnerados sus derechos en lo concerniente
        a la protección de sus datos personales, especialmente cuando no haya
        obtenido satisfacción en el ejercicio de sus derechos, a través de la
        página WEB
        <a href="https://www.aepd.es/">https://www.aepd.es</a>
      </p>

      <p>
        Estos derechos serán atendidos por el RESPONSABLE DEL TRATAMIENTO en el
        plazo de 1 mes, que podrá ampliarse a 2 meses si la complejidad de la
        solicitud o el número de solicitudes recibidas así lo exige. Todo ello
        sin perjuicio del deber de conservar ciertos datos en los términos
        legales y hasta que prescriban las posibles responsabilidades derivadas
        de un posible tratamiento, o, en su caso, de una relación contractual.
      </p>

      <p>
        Además de lo anterior, y en relación con la normativa de protección de
        datos, los Usuarios que lo soliciten, tienen la posibilidad de organizar
        el destino de sus datos después de su fallecimiento.
      </p>

      <h3>Envío de comunicaciones comerciales</h3>

      <p>
        En cumplimiento de lo dispuesto en la Disposición final segunda de la
        Ley 9/2014, de 9 de mayo, de Telecomunicaciones que modifica la Ley
        34/2002, de 11 de julio, de servicios de la sociedad de la información y
        de comercio electrónico, las comunicaciones comerciales realizadas por
        vía electrónica deberán ser claramente identificables como tales, y la
        persona física o jurídica en nombre de la cual se realizan también
        deberá ser claramente identificable, sin perjuicio de lo que dispongan
        las normativas dictadas por las Comunidades Autónomas con competencias
        exclusivas sobre consumo.
      </p>
      <p>
        El cliente y/o usuario, que facilite su datos de contacto al RESPONSABLE
        DEL TRATAMIENTO al hacer clic en el botón "ENVIAR" de los formularios
        electrónicos de recogida de datos personales existentes en el sitio web
        y marque afirmativamente las dos casillas de obtención del
        consentimiento existentes, "Acepto el tratamiento de mis datos según las
        finalidades indicadas en la información básica de protección de datos" y
        "Doy mi consentimiento para recibir comunicaciones comerciales
        electrónicas de sus servicios", autoriza manifiestamente y otorga su
        consentimiento expreso, libre e inequívoco al RESPONSABLE DEL
        TRATAMIENTO para que trate sus datos personales con la finalidad de
        enviarle comunicaciones comerciales sobre sus servicios mediante carta,
        teléfono, correo electrónico, SMS/MMS, WhatsApp, Telegram o por otros
        medios de comunicación electrónica equivalentes.
      </p>
      <p>
        La base jurídica que legitima este tratamiento es el consentimiento del
        interesado, que podrá revocar en cualquier momento.
      </p>
      <p>
        En cumplimiento de lo previsto en los artículos 21 y 22 de la Ley
        34/2002, de 11 de julio, de servicios de la sociedad de la información y
        de comercio electrónico, el usuario podrá oponerse al tratamiento de sus
        datos con fines promocionales y revocar el consentimiento prestado a la
        recepción de comunicaciones comerciales vía correo electrónico con la
        simple notificación de su voluntad al PRESTADOR mediante un
        procedimiento sencillo y gratuito, consistente en remitir un correo
        electrónico a la dirección de correo electrónico
        <a href="mailto:hola@cometwise.com">hola@cometwise.com</a>, indicando en
        el Asunto del mensaje "BAJA" o "NO ENVIAR".
      </p>

      <p>
        Los datos proporcionados se conservarán mientras se mantenga la relación
        comercial o durante los años necesarios para cumplir las obligaciones
        legales.
      </p>

      <h3>Política de redes sociales</h3>
      <p>
        El RESPONSABLE DEL TRATAMIENTO cuenta con perfiles en redes sociales de
        Internet:
      </p>
      <p>
        En todos los supuestos se considera responsable del tratamiento de los
        datos de sus usuarios, entiéndase también a los seguidores,
        suscriptores, fans, o simplemente personas que realicen comentarios o
        consultas por estas vías.
      </p>
      <p>
        En tal sentido, el RESPONSABLE DEL TRATAMIENTO podría utilizar este
        perfil para informar a sus usuarios de noticias que considere apropiadas
        con la finalidad de los servicios ofrecidos, o quizás también podría
        compartir información o artículos de actualidad publicados por otros
        usuarios de las redes sociales.
      </p>
      <p>
        En ninguno de los casos utilizará información personal de los usuarios
        sin su consentimiento para tener relaciones distintas a las esperadas en
        cada una de las redes sociales mencionadas, solicitando en su caso la
        conformidad del propio usuario.
      </p>
      <p>Veracidad de los datos facilitados por los interesados</p>
      <p>
        El cliente y/o usuario es responsable de que la información que
        proporcione mediante la cumplimentación de los formularios electrónicos
        que se ponen a su disposición en el SITIO WEB o mediante el envío por su
        parte de correos electrónicos a las distintas cuentas existentes bajo el
        dominio en Internet cometwise.com sea cierta, respondiendo de la
        exactitud de todos los datos que comunique y mantendrá actualizada la
        misma para que reflejen una situación real, siendo responsable de
        informaciones falsas o inexactas que proporcione y de los daños,
        molestias y problemas que pudieran causar al RESPONSABLE DEL TRATAMIENTO
        o a terceros.
      </p>

      <h3>Medidas de seguridad</h3>
      <p>
        El RESPONSABLE DEL TRATAMIENTO garantiza que ha implementado en el SITIO
        WEB las políticas técnicas y organizativas apropiadas para aplicar las
        medidas de seguridad que establece el RGPD UE 2016/679 y la LOPDGDD
        3/2018 con el fin de proteger los derechos y libertades de los clientes
        y/o usuarios y les ha comunicado la información adecuada para que puedan
        ejercerlos.
      </p>
      <p>
        El RESPONSABLE DEL TRATAMIENTO para proteger los derechos individuales,
        sobre todo en relación con los tratamientos automatizados y con voluntad
        de ser transparentes con los clientes y/o usuarios, ha establecido una
        política que recoge el conjunto de dichos tratamientos, los fines
        perseguidos por estos últimos, la legitimidad de los mismos y también
        los instrumentos a disposición del cliente y/o usuario para que pueda
        ejercer sus derechos.
      </p>
      <p>
        El SITIO WEB está creado con las tecnologías VUE, CODEIGNITER Y MYSQL y
        cuenta con un certificado de cifrado SSL que permite al usuario el envío
        seguro de sus datos personales a través de los formularios electrónicos
        de recogida de datos personales existentes.
      </p>
      <p>
        El SITIO WEB está alojado en los servidores que OVH GROUPE SAS, inscrita
        en el RCS de Lille con el número 537 407 926 y sita en 2, rue
        Kellermann, 59100 Roubaix (Francia) ofrece al RESPONSABLE DEL
        TRATAMIENTO, siendo la dirección IP asignada de rango francés.
      </p>
      <p>
        Toda la información será guardada y gestionada con la debida
        confidencialidad, aplicando las medidas de seguridad informáticas
        necesarias para impedir el acceso o uso indebido de sus datos, su
        manipulación, deterioro o pérdida.
      </p>
      <p>
        No obstante, el cliente y/o usuario debe tener en cuenta que la
        seguridad de los sistemas informáticos nunca es absoluta. Cuando se
        facilitan datos personales por Internet, dicha información pudiera ser
        recogida sin su consentimiento y tratada por terceros no autorizados. El
        RESPONSABLE DEL TRATAMIENTO declina, cualquier tipo de responsabilidad
        sobre las consecuencias de esos actos puedan tener para el Usuario, si
        publicó la información voluntariamente.
      </p>

      <h3>Aceptación y consentimiento</h3>
      <p>
        El cliente y/o usuario declara haber sido informado de las condiciones
        sobre protección de datos personales, aceptando y consintiendo el
        tratamiento automatizado de los mismos por parte del RESPONSABLE DEL
        TRATAMIENTO en la forma y para las finalidades indicadas en la presente
        Política de Privacidad. Ciertos servicios prestados en el SITIO WEB
        pueden contener condiciones particulares con previsiones específicas en
        materia de protección de datos personales.
      </p>

      <h3>Cambios en la presente política de privacidad</h3>
      <p>
        EL RESPONSABLE DEL TRATAMIENTO se reserva el derecho a modificar la
        presente Política de Privacidad para adaptarla a las novedades
        legislativas, jurisprudenciales, de interpretación de la Agencia
        Española de Protección de Datos, así como a prácticas de la industria.
      </p>
      <p>
        En dichos supuestos, el RESPONSABLE DEL TRATAMIENTO anunciará en los
        sitios web los cambios introducidos con razonable antelación a su puesta
        en práctica.
      </p>
      <p>
        Esta política de privacidad podrá ser complementada por el Aviso Legal,
        Política de Cookies y las Condiciones Generales de Contratación que, en
        su caso, se recojan para determinados productos o servicios, si dicho
        acceso supone alguna especialidad en materia de protección de datos de
        carácter personal.
      </p>
    </div>
  </div>
</template>
<style scoped>
div {
  text-align: justify;
  text-justify: inter-word;
}
strong,
.strong {
  font-weight: 900;
  color: black;
}
a,
.a {
  text-decoration: underline;
  color: green;
}
h3,
.h3 {
  margin: 0px;
}
</style>
