<template>
  <div class="md-layout">
    <div class="md-layout-item">
      <div id="radiobuttons">
        <div>
          <md-card>
            <md-card-content>
              <div class="md-layout">
                <div
                  class="md-layout-item md-medium-size-30 md-xsmall-size-100 md-size-30"
                >
                  <h4 class="title">
                    <md-icon>info</md-icon>
                    {{ this.$S_i18n.t("APP_ADD_SITE_TYPE_TITLE") }}
                  </h4>

                  <md-radio
                    class="md-primary"
                    v-model="category_status"
                    value="web"
                  >
                    <md-icon class="text-warning">
                      {{ this.$S_i18n.t("APP_ADD_SITE_SITE_WEB_ICON") }}
                    </md-icon>
                    {{ this.$S_i18n.t("APP_ADD_SITE_SITE_WEB") }}
                  </md-radio>
                  <md-radio
                    v-model="category_status"
                    value="ecommerce"
                    class="md-warning"
                  >
                    <md-icon class="text-warning">
                      {{ this.$S_i18n.t("APP_ADD_SITE_SITE_ECOMMERCE_ICON") }}
                    </md-icon>
                    {{ this.$S_i18n.t("APP_ADD_SITE_SITE_ECOMMERCE") }}
                  </md-radio>
                </div>

                <div
                  class="md-layout-item md-medium-size-70 md-xsmall-size-100 md-size-70"
                >
                  <p class="title" v-if="category_status == 'web'">
                    {{ this.$S_i18n.t("APP_ADD_SITE_TYPE_DESCRIPTION_WEB") }}
                  </p>
                  <p class="title" v-if="category_status == 'ecommerce'">
                    {{
                      this.$S_i18n.t("APP_ADD_SITE_TYPE_DESCRIPTION_ECOMMERCE")
                    }}
                  </p>

                  <p class="description" v-if="category_status == 'ecommerce'">
                    <md-icon class="text-warning">
                      report_problem
                    </md-icon>
                    {{
                      this.$S_i18n.t(
                        "APP_ADD_SITE_TYPE_DESCRIPTION_ECOMMERCE_WARNING"
                      )
                    }}
                  </p>
                </div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <tabs
        :tab-active="1"
        :tab-name="[
          tabs_names[0],
          tabs_names[1],
          tabs_names[2],
          tabs_names[3],
          tabs_names[4]
        ]"
        plain
        color-button="warning"
      >
        <template :slot="tabs_names[0]" style="margin-left:-50px;">
          <general :category_status="category_status" />
        </template>
        <template :slot="tabs_names[1]">
          <contact :category_status="category_status" />
        </template>
        <template :slot="tabs_names[2]">
          <cookies />
        </template>
        <template :slot="tabs_names[3]" v-if="category_status == 'ecommerce'">
          <payments />
        </template>
        <template :slot="tabs_names[4]" v-if="category_status == 'ecommerce'">
          <deliveries />
        </template>
      </tabs>
      <!--
      <div id="savebutton">
        <div class="action">
          <md-button
            class="md-warning md-round float-right"
            @click="update_info()"
            >{{ this.$S_i18n.t("APP_FORM_SUBMIT") }}</md-button
          >
        </div>
      
      </div>
      -->
    </div>
  </div>
</template>

<script>
import { Tabs } from "@/components";
import Contact from "./cw_SubSitePage/contact.vue";
import Deliveries from "./cw_SubSitePage/deliveries.vue";
import General from "./cw_SubSitePage/general.vue";
import Payments from "./cw_SubSitePage/payments.vue";
import Cookies from "./cw_SubSitePage/cookies.vue";

export default {
  components: {
    Tabs,
    Contact,
    Deliveries,
    Payments,
    General,
    Cookies,
    General
  },
  props: {
    profileCard: {
      type: String,
      default: "./img/faces/card-profile1-square.jpg"
    }
  },
  data() {
    return {
      tabs_names: [
        this.$S_i18n.t("APP_ADD_SITE_FORM_GENERAL_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_CONTACT_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_COOKIES_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_PAYMENTS_TITLE"),
        this.$S_i18n.t("APP_ADD_SITE_FORM_ORDERS_TITLE")
      ],
      category_status: "web",
      tabsname: [],
      selected: [],
      responsive: false,
      editdata: {},
      tableData: {}
    };
  },
  methods: {
    onSelect: function(items) {
      this.selected = items;
    },
    onResponsiveInverted() {
      if (window.innerWidth < 768) {
        this.responsive = true;
      } else {
        this.responsive = false;
      }
    },
    RetrunToPreviousPage() {
      this.$router.back();
    }
  },

  beforeMount() {
    if (localStorage.getItem("op_id_rup")) {
      //var site_data = this.$APP_Services.domain_get_one();
      //console.log("SiteData", site_data);
      // @JAVI aquí hay que iterar sobre lo que devuelva el servicio y guardarlo en localstorage con "ops_"
    }
  },
  mounted() {
    //this.editdata = this.$APP_Services.data.EditCurrentData;
    //console.log("Editdata", this.editdata);
    if (localStorage.getItem("localStorageItem") == null) {
      if (localStorage.getItem("op_is_ecommerce") == 1) {
        this.category_status = "ecommerce";
      } else this.category_status = "web";
    }

    this.onResponsiveInverted();
    window.addEventListener("resize", this.onResponsiveInverted);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResponsiveInverted);
  }
};
</script>

<style lang="css">
.float-right {
  float: right;
}
#radiobuttons {
  margin-top: 0px;
  margin-bottom: -20px;
  margin-left: 50px;
  margin-right: 50px;
}
#savebutton {
  margin-top: -90px;
  margin-bottom: -20px;
  margin-left: 50px;
  margin-right: 50px;
}
</style>
