<template>
  <div class="md-layout">
    <loading
      style="position:absolute; top: 50%;
  left: 50%;"
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="fullPage"
      :color="loaderColor"
      :loader="loaderType"
      :background-color="backgroundColor"
      :z-index="9999"
    ></loading>
    <div class="md-layout-item">
      <div class="action">
        <md-button
          class="md-warning md-round float-right"
          @click="requestAddNewSitePage"
          ><md-icon>ads_click</md-icon>
          {{ this.$S_i18n.t("APP_ADD_SITE_BUTTON_LABEL") }}
        </md-button>
      </div>

      <md-card>
        <md-card-header>
          <h3 class="title">
            <b> {{ this.$S_i18n.t("APP_MY_SITES_TABLE_TITLE") }}</b>
          </h3>
        </md-card-header>
        <md-card-content v-if="this.isReady">
          <md-table
            :value="queriedData"
            :md-sort.sync="currentSort"
            :md-sort-order.sync="currentSortOrder"
            :md-sort-fn="customSort"
            class="paginated-table table-striped table-hover text-primary description"
          >
            <md-table-toolbar>
              <md-field>
                <label for="pages">{{
                  this.$S_i18n.t("APP_MY_SITES_TABLE_PER_PAGE")
                }}</label>
                <md-select v-model="pagination.perPage" name="pages">
                  <md-option
                    v-for="item in pagination.perPageOptions"
                    :key="item"
                    :label="item"
                    :value="item"
                  >
                    {{ item }}
                  </md-option>
                </md-select>
              </md-field>
            </md-table-toolbar>

            <md-table-row slot="md-table-row" slot-scope="{ item }">
              <md-table-cell :md-label="table_cols[1]" md-sort-by="Plan">
                {{ item.Plan }}
              </md-table-cell>
              <md-table-cell
                class="overflow"
                :md-label="table_cols[2]"
                md-sort-by="domain"
                name="domain"
              >
                <p class="overflow">
                  {{ item.domain }}
                </p>
              </md-table-cell>
              <md-table-cell :md-label="table_cols[3]" md-sort-by="date_end">
                {{ item.date_end.slice(0, 10) }}
              </md-table-cell>
              <md-table-cell :md-label="table_cols[4]" style="min-width:200px;">
                <div class="md-group">
                  <md-button
                    class="md-round md-success md-just-icon md-sm"
                    @click="RequestToPlansPage(item)"
                    ><md-icon>upgrade</md-icon>{{ table_cols[4] }}</md-button
                  >
                </div>
              </md-table-cell>
              <md-table-cell :md-label="table_cols[5]">
                <div class="md-group">
                  <md-button
                    class="md-round md-info md-just-icon md-sm"
                    @click="RequestToInformationPage(item)"
                    ><md-icon>done</md-icon>
                    Textos & Links
                  </md-button>
                </div>
              </md-table-cell>

              <md-table-cell :md-label="table_cols[6]">
                <md-button
                  class="md-just-icon md-warning md-simple"
                  @click.native="domainEdit(item.id_rup)"
                >
                  <md-icon>edit</md-icon>
                </md-button>
              </md-table-cell>
            </md-table-row>
          </md-table>
        </md-card-content>
        <md-card-actions md-alignment="space-between">
          <div class="">
            <p class="card-category">
              {{ this.$S_i18n.t("APP_MY_SITES_TABLE_PAGINATION_FROM") }}
              {{ from + 1 }}
              {{ this.$S_i18n.t("APP_MY_SITES_TABLE_PAGINATION_TO") }} {{ to }}
              {{ this.$S_i18n.t("APP_MY_SITES_TABLE_PAGINATION_TOTAL") }}
              {{ total }}
            </p>
          </div>
          <pagination
            class="pagination-no-border pagination-warning"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          >
          </pagination>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script>
import { Pagination } from "@/components";
import users from "./users";
import Fuse from "fuse.js";
import Loading from "vue-loading-overlay";
export default {
  components: {
    Pagination,
    Loading
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  },
  data() {
    return {
      plan: [false, true, true, false, false, false],
      // caca: "cacacaca",
      currentSort: this.$S_i18n.t("APP_MY_SITES_TABLE_COL_ID"),
      currentSortOrder: "desc",
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      table_cols: [
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_ID"), //0
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_PLAN"), //1
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_DOMAIN"), //2
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_EXPIRY"), //3
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_UPGRADE"), //4
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_INFORMATION"), //5
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_EDIT") //6
      ],
      searchQuery: "",
      propsToSearch: [
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_DOMAIN"),
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_PLAN"),
        this.$S_i18n.t("APP_MY_SITES_TABLE_COL_DOMAIN")
      ],
      tableData: users,
      searchedData: [],
      fuseSearch: null,

      isLoading: true,
      fullPage: true,
      loaderColor: "#e7ba3d",
      loaderType: "dots",
      backgroundColor: "#00000",
      index: 9999
    };
  },
  methods: {
    ClearOperationalInfo() {
      var values = [],
        keys = Object.keys(localStorage),
        i = keys.length;

      while (i--) {
        if (keys[i].includes("op_")) {
          localStorage.removeItem(keys[i]);
        }
      }

      return values;
    },

    SetOperationalInfo(info) {
      for (var key in info) {
        if (typeof info[key] === "string") {
          localStorage.setItem("op_" + key, info[key]);
        } else {
          for (var i = 0; i < info[key].length; i++) {
            localStorage.setItem("op_" + info[key][i].name, info[key][i].value);
          }
        }
      }
      return;
    },
    RequestToPlansPage(item) {
      localStorage.setItem("op_id_rup", item.id_rup);
      this.$router.push("/pages/plans");
    },
    RequestToInformationPage(item) {
      localStorage.setItem("op_id_rup", item.id_rup);
      localStorage.setItem("op_id_plan", item.id_plan);
      this.$router.push("/pages/webinformation");
    },
    customSort(value) {
      return value.sort((a, b) => {
        const sortBy = this.currentSort;
        if (this.currentSortOrder === "desc") {
          return a[sortBy].localeCompare(b[sortBy]);
        }
        return b[sortBy].localeCompare(a[sortBy]);
      });
    },

    async requestAddNewSitePage() {
      await this.$APP_Services.domain_get_sample().then(response => {
        this.SetOperationalInfo(response.data.payload);
      });
      localStorage.removeItem("op_id_rup");
      this.$router.push("/dashboard/add-site");
    },
    async domainEdit(id_domain) {
      // Cuando se quiere editar un dominio, se guarda este ID_DOMAIN en el localStorage
      // Al cargar "add-site", cuando todos los campos estén renderizados, hay que comprobar si ésta
      // variable existe en el storage y entonces llamar a los servicios para
      this.$APP_Services.data["id_rup"] = id_domain;

      await this.$APP_Services.domain_get_one().then(response => {
        var domain_data = response.data.payload;
        domain_data["id_rup"] = id_domain;
        this.SetOperationalInfo(domain_data);
      });
      this.$router.push("/dashboard/add-site");
    },

    getplans(array) {
      for (let i = 0; i < array.length; i++) {
        if (array[i].Plan == "default") {
          array[i].Plan = "Basic";
        }
      }
      return array;
    }
  },
  beforeMount() {
    this.ClearOperationalInfo();
  },
  mounted() {
    this.$APP_Services
      .domain_get_all()
      .then(response => {
        this.tableData = response;
        this.tableData = this.getplans(this.tableData);
      })
      .catch(error => {});

    // Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, {
      keys: ["domain"],

      threshold: 0.3
    });
    this.isReady = true;
    this.isLoading = false;
  },

  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      if (value !== "") {
        result = this.fuseSearch.search(this.searchQuery);
      }
      this.searchedData = result;
    }
  }
};
</script>

<style lang="css" scoped>
.md-card .md-card-actions {
  border: 0;
  margin-left: 20px;
  margin-right: 20px;
}
.md-card-header {
  margin-top: 10px;
}
.float-right {
  float: right;
}
.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
</style>
