<template>
  <div class="md-layout">
    <div
      class="md-layout-item md-medium-size-60 md-small-size-100 md-xsmall-size-100 md-size-60"
    >
      <br />
      <br />
      <img v-bind:src="'./img/' + landing_img" width="1000px" />
    </div>

    <div
      class="md-layout-item md-medium-size-40 md-small-size-100 md-xsmall-size-100 md-size-40"
    >
      <h1 class="title" id="title">
        <b>{{ this.$S_i18n.t("BF_LANDING_BRIEF_TITLE") }}</b>
      </h1>
      <h4 class="description text-primary">
        {{ this.$S_i18n.t("BF_LANDING_BRIEF_BODY") }}
      </h4>
      <br />
      <div class="action" style="margin-top:-30px;">
        <md-button
          class="md-success md-round"
          @click="$router.push('register')"
        >
          {{ this.$S_i18n.t("BF_LANDING_BRIEF_BUTTON_LABEL") }}
        </md-button>
      </div>
    </div>

    <div
      class="md-layout-item md-smaill-size-100 md-size-100 mx-auto text-center"
    >
      <h3 class="title" id="title">
        {{ this.$S_i18n.t("BF_PRICING_TITLE") }}
      </h3>
      <h5 class="description text-primary">
        {{ this.$S_i18n.t("BF_PRICING_SUBTITLE") }}
      </h5>
    </div>
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 md-size-33"
      >
        <pricing-card icon-color="icon-primary">
          <h6 slot="category" class="category text-primary">
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_TITLE") }}
          </h6>
          <md-icon slot="icon">
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_ICON") }}
          </md-icon>
          <h3 slot="title" class="title-pricing text-warning">
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_PRICE_WEB") }}
          </h3>
          <p slot="description text-primary" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_3") }}
          </p>
          <p slot="description" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_4") }}
          </p>
          <h3 slot="title2" class="title-pricing">
            <span class="text-warning">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_PRICE_ECOMMERCE") }}
            </span>
          </h3>
          <p slot="description2" class="card-description ">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_1") }}
          </p>
          <p slot="description2" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_3") }}
          </p>

          <p slot="description2" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_4") }}
          </p>
          <md-button
            slot="footer"
            id="button"
            class="md-success md-round"
            @click="$router.push('login')"
          >
            {{ this.$S_i18n.t("BF_PRICING_CARD_1_BUTTON") }}
          </md-button>
        </pricing-card>
      </div>
      <div
        class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 md-size-33"
      >
        <pricing-card icon-color="icon-primary">
          <h6 slot="category" class="category text-primary">
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_TITLE") }}
          </h6>
          <md-icon slot="icon">
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_ICON") }}
          </md-icon>

          <h3 slot="title" class="title-pricing text-warning">
            <!--
             <md-icon class="text-warning">
              public
            </md-icon>  -->{{ this.$S_i18n.t("BF_PRICING_CARD_2_PRICE_WEB") }}
          </h3>
          <p slot="description" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_1") }}
          </p>
          <p slot="description" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_3") }}
          </p>
          <p slot="description" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_4") }}
          </p>

          <h3 slot="title2" class="title-pricing text-warning">
            <!--
            <md-icon class="text-warning">
              {{ this.$S_i18n.t("APP_ADD_SITE_SITE_ECOMMERCE_ICON") }}
            </md-icon>    -->{{
              this.$S_i18n.t("BF_PRICING_CARD_2_PRICE_ECOMMERCE")
            }}
          </h3>
          <p slot="description2" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_1") }}
          </p>
          <p slot="description2" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_3") }}
          </p>
          <p slot="description2" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_4") }}
          </p>
          <p slot="description2" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_5") }}
          </p>
          <p slot="description2" class="card-description">
            <md-icon class="text-warning">
              check
            </md-icon>
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_6") }}
          </p>
          <md-button
            slot="footer"
            id="button"
            class="md-success md-round"
            @click="$router.push('login')"
          >
            {{ this.$S_i18n.t("BF_PRICING_CARD_2_BUTTON") }}
          </md-button>
        </pricing-card>
      </div>

      <div
        class="md-layout-item md-medium-size-33 md-small-size-100 md-xsmall-size-100 md-size-33"
      >
        <pricing-card icon-color="icon-primary">
          <h6 slot="category" class="category text-primary">
            {{ this.$S_i18n.t("BF_PRICING_CARD_4_TITLE") }}
          </h6>
          <md-icon slot="icon">
            {{ this.$S_i18n.t("BF_PRICING_CARD_4_ICON") }}
          </md-icon>

          <h3 slot="title" class="title-pricing text-warning">
            {{ this.$S_i18n.t("BF_PRICING_CARD_4_PRICE") }}
          </h3>
          <p slot="description" class="card-description">
            {{ this.$S_i18n.t("BF_PRICING_CARD_4_BODY") }}
          </p>
          <md-button
            slot="footer"
            id="button"
            class="md-success md-round button"
            @click="$router.push('login')"
          >
            {{ this.$S_i18n.t("BF_PRICING_CARD_4_BUTTON") }}
          </md-button>
        </pricing-card>
      </div>
    </div>

    <div class="md-layout-item md-size-100 mx-auto text-center">
      <h3 class="title" id="title">
        {{ this.$S_i18n.t("BF_LANDING_FORM_TITLE") }}
      </h3>
      <h5 class="description">
        {{ this.$S_i18n.t("BF_LANDING_FORM_SUBTITLE") }}
      </h5>
    </div>
    <!--
  TODO: [DD-373] Reset contact form 
  Temporary commented until DD-309 gets done.

    <div class="md-layout-item md-size-100 mx-auto text-center">
      <h3 class="title" id="title">
        {{ this.$S_i18n.t("BF_LANDING_FORM_TITLE") }}
      </h3>
      <h5 class="description">
        {{ this.$S_i18n.t("BF_LANDING_FORM_SUBTITLE") }}
      </h5>
    </div>

    <div class="md-layout" id="form">
      <div class="md-layout-item md-medium-size-100 md-size-100">
        <contact-form header-color="green"> </contact-form>
      </div>
    </div>
-->
  </div>
</template>
<script>
import { PricingCard } from "@/components";

/**
import { ContactForm } from "@/components";
 */
export default {
  components: {
    PricingCard
    /** DD
    ContactForm
     */
  },
  methods: {
    submitForm() {
      //this.chk_term_mandatory_visible = false
      //this.chk_pass_not_match_visible = false
      //this.error_seen_register = false

      if (!this.chk_terms) {
        this.chk_term_mandatory_visible = true;
        return;
      }

      this.$BF_Services.data = {
        firstname: this.firstname,
        email: this.email,
        company: this.company
      };

      this.$BF_Services.register().then(
        response => {
          //console.log(response.data);
        },
        error => {
          this.error_seen_register = true;
        }
      );
    }
  },
  data() {
    return {
      landing_img: process.env.VUE_APP_BF_LANDING_IMG_INFO
    };
  }
};
</script>
<style scoped>
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
#info {
  margin-top: 70px;
}
#title {
  margin-top: 100px;
  margin-bottom: 10px;
}
.title-pricing {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.card-description {
  margin-top: 0px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.columns {
  /* PRICING CARDS SAME HEIGHT */
  display: flex;
  align-items: stretch;
}
.description {
  margin-top: -3px;
  line-height: 170%;
}
#button {
  margin-bottom: 30px;
}
</style>
