<template>
  <div>
    <div class="md-layout">
      <div class="md-layout-item md-size-50 mx-auto text-center ">
        <h2 class="title">
          {{ this.$S_i18n.t("BF_PRICING_TITLE") }}
        </h2>
        <h5 class="description">
          {{ this.$S_i18n.t("BF_PRICING_SUBTITLE") }}
        </h5>
      </div>
    </div>
    <div class="columns">
      <div class="md-layout">
        <div
          class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 md-size-33"
        >
          <pricing-card icon-color="icon-success">
            <h6 slot="category" class="category">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_TITLE") }}
            </h6>
            <md-icon slot="icon">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_ICON") }}
            </md-icon>
            <h3 slot="title" class="title">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_PRICE_WEB") }}
            </h3>
            <h3 slot="title" class="title">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_PRICE_ECOMMERCE") }}
            </h3>
            <p slot="description" class="card-description ">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_1") }}
            </p>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_3") }}
            </p>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_4") }}
            </p>
            <md-button
              slot="footer"
              class="md-success md-round"
              @click="$router.push('login')"
            >
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BUTTON") }}
            </md-button>
          </pricing-card>
        </div>
        <div
          class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 md-size-33"
        >
          <pricing-card icon-color="icon-success">
            <h6 slot="category" class="category">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_TITLE") }}
            </h6>
            <md-icon slot="icon">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_ICON") }}
            </md-icon>
            <h3 slot="title" class="title">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_PRICE_WEB") }}
            </h3>
            <h3 slot="title" class="title">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_PRICE_ECOMMERCE") }}
            </h3>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_1") }}
            </p>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_3") }}
            </p>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_4") }}
            </p>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_5") }}
            </p>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_6") }}
            </p>
            <md-button
              slot="footer"
              class="md-success md-round"
              @click="$router.push('login')"
            >
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BUTTON") }}
            </md-button>
          </pricing-card>
        </div>
        <div
          class="md-layout-item md-medium-size-33 md-small-size-50 md-xsmall-size-100 md-size-33"
        >
          <pricing-card icon-color="icon-success">
            <h6 slot="category" class="category">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_TITLE") }}
            </h6>
            <md-icon slot="icon">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_ICON") }}
            </md-icon>
            <h4 slot="title" class="title">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_PRICE") }}
            </h4>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_BODY") }}
            </p>
            <md-button
              slot="footer"
              class="md-success md-round"
              @click="$router.push('login')"
            >
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_BUTTON") }}
            </md-button>
          </pricing-card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { PricingCard } from "@/components";
export default {
  components: {
    PricingCard
  }
};
</script>
<style scoped>
.text-center {
  text-align: center;
}

.description {
  color: gray;
}
.columns {
  /* PRICING CARDS SAME HEIGHT */
  display: flex;
  align-items: stretch;
}
h5 {
  margin-top: 0px;
}
h2 {
  margin-bottom: 0px;
}
</style>
