<template>
  <div class="md-layout">
    <div class="md-layout-item">
      <register-card>
        <h3 class="title text-center" slot="title">
          <b>
            {{ this.$S_i18n.t("BF_REGISTER_TITLE") }}
          </b>
        </h3>
        <div
          class="md-layout-item md-size-40 md-medium-size-540 md-small-size-100 ml-auto"
          slot="content-left"
        >
          <div
            class="info info-horizontal text-left"
            v-for="item in contentLeft"
            :key="item.title"
          >
            <div :class="`icon ${item.colorIcon}`">
              <md-icon>{{ item.icon }}</md-icon>
            </div>
            <div class="description">
              <h4 class="info-title">{{ item.title }}</h4>
              <p class="description">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>

        <div
          class="md-layout-item md-size-60 md-medium-size-60 md-small-size-100 mr-auto"
          slot="content-right"
        >
          <md-field class="md-form-group">
            <md-icon>face</md-icon>
            <label>{{ this.$S_i18n.t("BF_REGISTER_FORM_FIRST_NAME") }}</label>
            <md-input v-model="name" type="text"></md-input>
          </md-field>

          <md-field class="md-form-group">
            <md-icon>email</md-icon>
            <label>{{ this.$S_i18n.t("BF_REGISTER_FORM_EMAIL") }}</label>
            <md-input v-model="email" type="email"></md-input>
          </md-field>

          <md-field class="md-form-group">
            <md-icon>lock_outline</md-icon>
            <label>{{ this.$S_i18n.t("BF_REGISTER_FORM_PASSWORD") }}</label>
            <md-input v-model="password1" type="password"></md-input>
          </md-field>

          <md-field class="md-form-group">
            <md-icon>lock_outline</md-icon>
            <label>{{
              this.$S_i18n.t("BF_REGISTER_FORM_PASSWORD_CONFIRMATION")
            }}</label>
            <md-input v-model="password2" type="password"></md-input>
          </md-field>
          <!-- conset -->

          <div class="md-layout-item md-size-100">
            <p class="description">
              {{ this.$S_i18n.t("BF_LANDING_FORM_CONSENT_LEGAL_TITLE") }}
            </p>
            <p class="description">
              {{ this.$S_i18n.t("BF_LANDING_FORM_CONSENT_LEGAL_SUBTITLE_1") }}
              <b
                ><a
                  v-bind:href="'mailto:' + this.contact_email"
                  target="_blank"
                  onmouseover="this.style.cursor='pointer'"
                  class="text-success"
                  style="margin-top:-15px; text-decoration:underline;"
                >
                  {{ this.contact_email }}
                </a></b
              >

              {{ this.$S_i18n.t("BF_LANDING_FORM_CONSENT_LEGAL_SUBTITLE_2") }}
              <b>
                <a
                  v-bind:href="link_privacy"
                  target="_blank"
                  onmouseover="this.style.cursor='pointer'"
                  class="text-success"
                  style="margin-top:-15px; text-decoration:underline;"
                >
                  {{ this.$S_i18n.t("BF_LANDING_FORM_CONSENT_LEGAL_WEB_LINK") }}
                </a>
              </b>
            </p>
          </div>

          <div class="md-layout-item md-size-100">
            <md-checkbox id="chk_terms_conditions" v-model="chk_terms">
              <label>
                {{ this.$S_i18n.t("BF_REGISTER_FORM_ACCEPT")
                }}<b
                  ><a
                    onmouseover="this.style.cursor='pointer'"
                    class="text-success"
                    style="margin-top:-15px; text-decoration:underline;"
                    onclick="
                        window.open(
                          'https://cometwise.com/#/condiciones-generales-contratacion'
                        )
                      "
                    ng-click="$event.stopPropagation()"
                    >{{
                      this.$S_i18n.t("BF_REGISTER_FORM_ACCEPT_LINK_TITLE")
                    }}</a
                  ></b
                >
                {{ this.$S_i18n.t("BF_REGISTER_FORM_ACCEPT_2") }}
              </label>
            </md-checkbox>
          </div>

          <div class="md-layout-item md-size-100">
            <md-checkbox v-model="consent" style="height: 100%;">
              {{ this.$S_i18n.t("BF_REGISTER_FORM_CONSENT") }}
            </md-checkbox>
          </div>

          <div class="md-layout-item md-size-100" v-if="error_seen_register">
            <p class="description text-left text-danger">
              {{ this.$S_i18n.t("BF_REGISTER_ERROR") }}
            </p>
          </div>
          <!--errors-->
          <div
            class="md-layout-item md-size-100 "
            v-if="chk_term_mandatory_visible"
          >
            <p class="description text-center text-danger">
              {{
                this.$S_i18n.t("BF_REGISTER_FORM_TERMS_AND_CONDITIONS_ACCEPT")
              }}
            </p>
          </div>
          <div
            class="md-layout-item md-size-100"
            v-if="chk_pass_not_match_visible"
          >
            <p class="description text-center text-danger">
              {{ this.$S_i18n.t("BF_REGISTER_ERROR_MATCH_PASSW") }}
            </p>
          </div>

          <div class="button-container">
            <md-button
              class="md-warning md-round mt-4"
              slot="footer"
              @click="signin()"
            >
              {{ this.$S_i18n.t("BF_REGISTER_FORM_SUBMIT") }}
            </md-button>
            <p
              id="subfooter"
              slot="subfooter"
              class="description text-center mt-4"
              style="margin-left:5px;"
            >
              -
              <b
                ><a href="#/login" class="text-success">{{
                  this.$S_i18n.t("BF_LOGIN_FORM_TITLE")
                }}</a></b
              >
            </p>
          </div>
        </div>
      </register-card>
    </div>
  </div>
</template>
<script>
import { RegisterCard } from "@/components";
import Swal from "sweetalert2";
import $ from "jquery";
export default {
  data() {
    return {
      link_cgc: process.env.VUE_APP_LINK_TERMS_CONDITIONS,
      link_privacy: process.env.VUE_APP_LINK_PRIVACY,
      link_cookies: process.env.VUE_APP_LINK_COOKIES,
      link_legal: process.env.VUE_APP_LINK_LEGAL,
      contact_email: process.env.VUE_APP_CONTACT_EMAIL,
      chk_terms: false,
      consent: false,
      chk_term_mandatory_visible: false,
      chk_pass_not_match_visible: false,
      error_seen_register: false,
      name: "",
      email: "",
      password1: "",
      password2: "",
      contentLeft: [
        {
          colorIcon: "icon-success",
          icon: "storefront",
          title: this.$S_i18n.t("BF_REGISTER_LEFT_1_TITLE"),
          description: this.$S_i18n.t("BF_REGISTER_LEFT_1_BODY")
        },

        {
          colorIcon: "icon-success",
          icon: "ads_click",
          title: this.$S_i18n.t("BF_REGISTER_LEFT_2_TITLE"),
          description: this.$S_i18n.t("BF_REGISTER_LEFT_2_BODY")
        },

        {
          colorIcon: "icon-success",
          icon: "policy",
          title: this.$S_i18n.t("BF_REGISTER_LEFT_3_TITLE"),
          description: this.$S_i18n.t("BF_REGISTER_LEFT_3_BODY")
        }
      ]
    };
  },
  components: {
    RegisterCard
  },
  methods: {
    signin() {
      this.chk_term_mandatory_visible = false;
      this.chk_pass_not_match_visible = false;
      this.error_seen_register = false;

      if (!this.chk_terms) {
        this.chk_term_mandatory_visible = true;
        return;
      }

      if (this.password1 != this.password2) {
        this.chk_pass_not_match_visible = true;
        return;
      }

      this.$BF_Services.data = {
        name: this.name,
        email: this.email,
        password: this.password1,
        language: this.$S_i18n.locale,
        company: "",
        phone: ""
      };

      this.$BF_Services
        .register()
        .then(response => {
          this.$router.push("/registerconfirmation");
        })
        .catch(() => (this.error_seen_register = true));
    }
  }
};
</script>
<style>
.subfooter {
  font-size: 3px;
}
.text-left {
  justify-content: flex-start;
}
.md-card-signup {
  min-width: 100%;
}
</style>
