<template>
  <div class="content">
    <div class="md-layout">
      <div class="columns">
        <div
          class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-100 md-size-33"
        >
          <pricing-card icon-color="icon-primary">
            <h6 slot="category" class="category text-primary">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_TITLE") }}
            </h6>
            <md-icon slot="icon">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_ICON") }}
            </md-icon>
            <h3 slot="title" class="title-pricing text-warning">
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_PRICE_WEB") }}
            </h3>
            <p slot="description text-primary" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_3") }}
            </p>
            <p slot="description" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_4") }}
            </p>
            <h3 slot="title2" class="title-pricing">
              <span class="text-warning">
                {{ this.$S_i18n.t("BF_PRICING_CARD_1_PRICE_ECOMMERCE") }}
              </span>
            </h3>
            <p slot="description2" class="card-description ">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_1") }}
            </p>
            <p slot="description2" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_3") }}
            </p>

            <p slot="description2" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BODY_4") }}
            </p>
            <md-button
              slot="footer"
              class="md-success md-round"
              @click="$router.push('login')"
            >
              {{ this.$S_i18n.t("BF_PRICING_CARD_1_BUTTON") }}
            </md-button>
          </pricing-card>
        </div>
        <div
          class="md-layout-item md-medium-size-25 md-small-size-50 md-xsmall-size-100 md-size-33"
        >
          <pricing-card icon-color="icon-primary">
            <h6 slot="category" class="category text-primary">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_TITLE") }}
            </h6>
            <md-icon slot="icon">
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_ICON") }}
            </md-icon>

            <h3 slot="title" class="title-pricing text-warning">
              <!--
             <md-icon class="text-warning">
              public
            </md-icon>  -->{{ this.$S_i18n.t("BF_PRICING_CARD_2_PRICE_WEB") }}
            </h3>
            <p slot="description" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_1") }}
            </p>
            <p slot="description" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_3") }}
            </p>
            <p slot="description" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_4") }}
            </p>

            <h3 slot="title2" class="title-pricing text-warning">
              <!--
            <md-icon class="text-warning">
              {{ this.$S_i18n.t("APP_ADD_SITE_SITE_ECOMMERCE_ICON") }}
            </md-icon>    -->{{
                this.$S_i18n.t("BF_PRICING_CARD_2_PRICE_ECOMMERCE")
              }}
            </h3>
            <p slot="description2" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_1") }}
            </p>
            <p slot="description2" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_3") }}
            </p>
            <p slot="description2" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_4") }}
            </p>
            <p slot="description2" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_5") }}
            </p>
            <p slot="description2" class="card-description">
              <md-icon class="text-warning">
                check
              </md-icon>
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BODY_6") }}
            </p>
            <md-button
              slot="footer"
              class="md-success md-round"
              @click="$router.push('login')"
            >
              {{ this.$S_i18n.t("BF_PRICING_CARD_2_BUTTON") }}
            </md-button>
          </pricing-card>
        </div>

        <div
          class="md-layout-item md-medium-size-100 md-small-size-100 md-xsmall-size-100 md-size-33"
        >
          <pricing-card icon-color="icon-primary">
            <h6 slot="category" class="category text-primary">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_TITLE") }}
            </h6>
            <md-icon slot="icon">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_ICON") }}
            </md-icon>

            <h3 slot="title" class="title-pricing text-warning">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_PRICE") }}
            </h3>
            <p slot="description" class="card-description">
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_BODY") }}
            </p>
            <md-button
              slot="footer"
              class="md-success md-round button"
              @click="$router.push('login')"
            >
              {{ this.$S_i18n.t("BF_PRICING_CARD_4_BUTTON") }}
            </md-button>
          </pricing-card>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- Load Stripe.js on your website. -->

<script>
import { PricingCard } from "@/components";
export default {
  components: {
    PricingCard
  },
  mounted() {},
  methods: {}
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
</style>
