<template>
  <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
      >
        <!-- widget textos legales-->
        <md-card>
          <md-card-content>
            <span>
              <i class="fas fa-pen-nib text-warning fa-2x"></i>
            </span>
            <h3 class="title">
              {{ this.$S_i18n.t("APP_TEXTS_CW_LEGAL_TITLE") }}
            </h3>
            <p>
              {{ this.$S_i18n.t("APP_TEXTS_CW_LINK_USAGE") }}
            </p>
            <p class="description">
              <md-icon class="text-info"> info </md-icon>
              {{ this.$S_i18n.t("APP_TEXTS_CW_COOKIES_HELP_TITLE") }}
              <a @click="showHelp('text')"
                ><b
                  ><u>
                    {{ this.$S_i18n.t("APP_TEXTS_CW_COOKIES_HELP_LINK") }}</u
                  ></b
                ></a
              >
            </p>
            <div class="alert alert-info" v-if="this.showTextHelp">
              <button
                type="button"
                aria-hidden="true"
                class="close"
                @click="closeHelp('text')"
              >
                ×
              </button>
              <p>
                <u> {{ this.$S_i18n.t("APP_TEXTS_HELP_TITLE") }}</u>
              </p>
              <p>{{ this.$S_i18n.t("APP_TEXTS_HELP_DESCRIPTION_1") }}</p>
              <p>{{ this.$S_i18n.t("APP_TEXTS_HELP_TITLE_DESCRIPTION_2") }}</p>
            </div>
            <md-card class="inside-card">
              <md-card-content>
                <h4 class="title">
                  <b>
                    {{ txt_name_legal }}
                  </b>
                </h4>
                <p class="category">
                  {{ txt_link_legal }}
                </p>

                <div class="footer text-left">
                  <span>
                    <md-button
                      class="md-round md-sm md-warning float-left"
                      type="button"
                      @click="copy_info()"
                      v-clipboard:copy="txt_link_legal"
                    >
                      <md-icon>content_copy</md-icon>copiar</md-button
                    >
                  </span>
                </div>
              </md-card-content>
            </md-card>

            <md-card class="inside-card">
              <md-card-content>
                <h4 class="title">
                  <b>
                    {{ txt_name_cookies }}
                  </b>
                </h4>
                <p class="category" id="text_cookies">
                  {{ txt_link_cookies }}
                </p>

                <div class="footer text-left">
                  <span>
                    <div v-if="show_text_sample" class="md-group">
                      <md-button
                        class="md-round md-success md-sm"
                        @click="sendToUpgrade()"
                      >
                        <md-icon>upgrade</md-icon>
                        {{ this.$S_i18n.t("APP_MY_SITES_TABLE_COL_UPGRADE") }}
                      </md-button>
                    </div>
                    <div v-else class="md-group">
                      <md-button
                        class="md-round md-sm md-warning float-left"
                        @click="copy_info()"
                        v-clipboard:copy="txt_link_cookies"
                      >
                        <md-icon>content_copy</md-icon>copiar</md-button
                      >
                    </div>
                  </span>
                </div>
              </md-card-content>
            </md-card>
            <md-card class="inside-card">
              <md-card-content>
                <h4 class="title">
                  <b>
                    {{ txt_name_privacy }}
                  </b>
                </h4>
                <p class="category" id="text_cookies">
                  {{ txt_link_privacy }}
                </p>

                <div class="footer text-left">
                  <span>
                    <div v-if="show_text_sample" class="md-group">
                      <md-button
                        class="md-round md-success md-sm"
                        @click="sendToUpgrade()"
                      >
                        <md-icon>upgrade</md-icon>
                        {{ this.$S_i18n.t("APP_MY_SITES_TABLE_COL_UPGRADE") }}
                      </md-button>
                    </div>
                    <div v-else class="md-group">
                      <md-button
                        class="md-round md-sm md-warning float-left"
                        @click="copy_info()"
                        v-clipboard:copy="txt_link_privacy"
                      >
                        <md-icon>content_copy</md-icon>copiar</md-button
                      >
                    </div>
                  </span>
                </div>
              </md-card-content>
            </md-card>

            <md-card class="inside-card">
              <md-card-content>
                <h4 class="title">
                  <b>
                    {{ txt_name_terms }}
                  </b>
                </h4>
                <p class="description">
                  <md-icon class="text-info"> info </md-icon>
                  <span class="text-info"
                    ><b> Sólo necesario para eccomerce </b>
                  </span>
                </p>
                <span>
                  <p class="category">
                    {{ txt_link_terms }}
                  </p>
                  <div v-if="!show_text_ecommerce" class="md-group">
                    <md-button
                      class="md-round md-success md-sm"
                      @click="sendToUpgrade()"
                    >
                      <md-icon>upgrade</md-icon>
                      {{ this.$S_i18n.t("APP_MY_SITES_TABLE_COL_UPGRADE") }}
                    </md-button>
                  </div>
                  <div v-else class="md-group">
                    <span>
                      <md-button
                        class="md-round md-sm md-warning float-left"
                        @click="copy_info()"
                        v-clipboard:copy="txt_link_terms"
                      >
                        <md-icon>content_copy</md-icon>copiar</md-button
                      >
                    </span>
                  </div>
                </span>
              </md-card-content>
            </md-card>
          </md-card-content>
        </md-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
      >
        <div>
          <!-- widget cookies-->
          <md-card>
            <md-card-content>
              <span>
                <i class="fas fa-cookie-bite text-info fa-2x"></i>
              </span>
              <h3 class="title">
                {{ this.$S_i18n.t("APP_TEXTS_CW_COOKIES_TITLE") }}
              </h3>
              <p>
                {{ this.$S_i18n.t("APP_TEXTS_CW_COOKIES_SUBTITLE") }}
                <b class="text-info">{{ this.label }}</b>
              </p>

              <p class="description">
                <md-icon class="text-info"> info </md-icon>
                {{ this.$S_i18n.t("APP_TEXTS_CW_COOKIES_HELP_TITLE") }}
                <a @click="showHelp('cookie')"
                  ><b
                    ><u>
                      {{ this.$S_i18n.t("APP_TEXTS_CW_COOKIES_HELP_LINK") }}</u
                    ></b
                  ></a
                >
              </p>

              <div class="alert alert-info" v-if="this.showCookieHelp">
                <button
                  type="button"
                  aria-hidden="true"
                  class="close"
                  @click="closeHelp('cookie')"
                >
                  ×
                </button>

                <p>
                  <u>{{ this.$S_i18n.t("APP_TEXTS_COOKIES_HELP_TITLE") }}</u>
                </p>
                <p>
                  {{ this.$S_i18n.t("APP_TEXTS_COOKIES_HELP_DESCRIPTION_1") }}
                </p>
                <p>
                  {{ this.$S_i18n.t("APP_TEXTS_COOKIES_HELP_DESCRIPTION_2") }}
                </p>
              </div>

              <div class="footer text-left">
                <span>
                  <p>
                    {{ txt_link_script }}
                  </p>
                  <div v-if="show_text_sample" class="md-group">
                    <md-button
                      class="md-round md-info"
                      @click="sendToUpgrade()"
                    >
                      <md-icon>upgrade</md-icon>
                      {{ this.$S_i18n.t("APP_MY_SITES_TABLE_COL_UPGRADE") }}
                    </md-button>
                  </div>
                  <div v-else class="md-group footer text-left">
                    <md-button
                      class="md-round md-info float-left"
                      type="button"
                      @click="copy_info()"
                      v-clipboard:copy="txt_link_script"
                    >
                      <md-icon>code</md-icon>
                      {{ this.$S_i18n.t("APP_TEXTS_CW_COPY_CODE_BUTTON") }}
                    </md-button>
                  </div>
                </span>
              </div>
              <p class="description">
                <md-icon class="text-info"> info </md-icon>
                {{ this.$S_i18n.t("APP_TEXTS_CW_COOKIES_NOTICE") }}
              </p>
            </md-card-content>
          </md-card>
          <!-- widget formularios-->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import md5 from "md5";
import Swal from "sweetalert2";
require("md5");
export default {
  data() {
    return {
      txt_link_legal: this.$S_i18n.t("APP_TEXTS_LINK_DUMMY"),
      txt_link_privacy: this.$S_i18n.t("APP_TEXTS_LINK_DUMMY"),
      txt_link_cookies: this.$S_i18n.t("APP_TEXTS_LINK_DUMMY"),
      txt_link_terms: this.$S_i18n.t("APP_TEXTS_LINK_DUMMY"),

      txt_name_legal: this.$S_i18n.t("APP_TEXTS_CW_TXT_LEGAL"),
      txt_name_privacy: this.$S_i18n.t("APP_TEXTS_CW_TXT_PRIVACY"),
      txt_name_cookies: this.$S_i18n.t("APP_TEXTS_CW_TXT_COOKIES"),
      txt_name_terms: this.$S_i18n.t("APP_TEXTS_CW_TXT_ECOMMERCE_TERMS"),
      isReady: false,
      label: "</body>",
      showCookieHelp: false,
      showTextHelp: false,

      show_text_sample: true,
      show_text_ecommerce: false,
      my_id_plan: localStorage.getItem("op_id_plan")
    };
  },
  components: {},
  mounted() {
    this.getLinks();
    this.isReady = true;
  },
  methods: {
    sendToUpgrade() {
      this.$router.push("/pages/plans");
    },
    showHelp(value) {
      if (value == "cookie") {
        this.showCookieHelp = true;
      }
      if (value == "text") {
        this.showTextHelp = true;
      }
    },
    closeHelp(value) {
      if (value == "cookie") {
        this.showCookieHelp = false;
      }
      if (value == "text") {
        this.showTextHelp = false;
      }
    },
    onCopy: function(e) {
      alert("Texto copiado al portapapeles");
    },
    onError: function(e) {
      alert("No se pudo copiar el texto al portapapeles");
    },

    copy_info() {
      this.showSwal("auto-close");
    },

    showSwal(type) {
      if (type === "auto-close") {
        Swal.fire({
          title: "✅",
          text: this.$S_i18n.t("APP_TEXTS_NOTIFICATION_MESSAGE"),
          timer: 2000,
          showConfirmButton: false
        });
      }
    },

    async getLinks() {
      var texts = [];

      await this.$APP_Services.texts_get_all().then(response => {
        for (var i = 0; i < response.data.payload.length; i++) {
          texts[response.data.payload[i].doc_key] = response.data.payload[i];
        }
      });
      var dom = md5(localStorage.getItem("op_id_rup"));
      var txt = "";
      if (this.my_id_plan == "1") {
        txt = md5(texts["CW_TXT_LEGAL"].id_document);
        this.txt_link_legal =
          process.env.VUE_APP_BF_BASE_URL_TEXTS + dom + "/" + txt;
      } else {
        txt = md5(texts["CW_TXT_PRIVACY"].id_document);
        this.txt_link_privacy =
          process.env.VUE_APP_BF_BASE_URL_TEXTS + dom + "/" + txt;

        txt = md5(texts["CW_TXT_COOKIES"].id_document);
        this.txt_link_cookies =
          process.env.VUE_APP_BF_BASE_URL_TEXTS + dom + "/" + txt;

        txt = md5(texts["CW_TXT_LEGAL"].id_document);
        this.txt_link_legal =
          process.env.VUE_APP_BF_BASE_URL_TEXTS + dom + "/" + txt;

        this.txt_link_script =
          "<script href='" +
          process.env.VUE_APP_BF_BASE_URL_SCRIPT +
          dom +
          ".js'>" +
          "<\/script>";

        this.show_text_sample = false;
      }
      if (
        this.my_id_plan == process.env.VUE_APP_PLANS_ECOMMERCE_BASIC ||
        this.my_id_plan == process.env.VUE_APP_PLANS_ECOMMERCE_PRO
      ) {
        txt = md5(texts["CW_TXT_ECOMMERCE_TERMS"].id_document);
        this.txt_link_terms =
          process.env.VUE_APP_BF_BASE_URL_TEXTS + dom + "/" + txt;

        this.show_text_ecommerce = true;
      }
      return;
    }
  }
};
</script>
<style lang="scss">
.text-right {
  display: flex;
}
.text-left {
  align-content: left;
}

.column {
  float: left;
  width: 50%;
}
.row {
  width: 100%;
}
.category {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.inside-card {
  background-color: #fffbed;
  box-shadow: none;
  width: 95%;
  margin-left: 0px;
}
.a,
a {
  text-decoration: underline;
}
</style>
